[2014-08-04 18:29] Zizzamia opened #1 "Documentation"
Improve `html` and `css` code to show in the example part.
Show the request from front-end and response how should be from back-end.

[2014-08-04 18:30] Zizzamia opened #2 "Unit test"
Complete the table directive with test about the url params creation.

[2014-08-04 18:33] Zizzamia opened #3 "Query config params"
The query params need be possible to config.

[2014-08-04 18:34] Zizzamia opened #4 "More docs"
Add
- changelog
- current version next to the title
- Fix the left nav colors and width
- Start adding the documentation for the normal table vs the ajax table

[2014-08-07 04:13] Zizzamia opened #5 "Add docs for ajax table"
Give the opportunity to use ngTasty.table without an async request.

[2014-08-07 21:53] Zizzamia opened #6 "In the dist are missing the template file."
Check angular bootstrap for an inspiration how improve the dist folder.

[2014-08-08 03:55] #6 closed, assigned to Zizzamia

[2014-08-08 06:38] #1 closed, assigned to Zizzamia

[2014-08-09 19:25] Zizzamia opened #7 "Create an edit field component"
We need a basic async edit field component compatible with bootstrap style.

[2014-08-09 19:26] Zizzamia opened #8 "Create a simple way to doing alert"
A simple way to doing alert with keeping the bootstrap style.

[2014-08-11 18:51] Zizzamia opened #9 "Start the diversification between the ajax table and not"
Create a separate table is only ajax

[2014-08-11 19:09] Zizzamia opened #10 "Add ng-tasty on npm!"
Add ng-tasty on npm and update angular-mocks on npm.

[2014-08-11 19:10] Zizzamia opened #11 "Create a button to download ng-tasty from the website"
Like bootstrap angularjs, create a button to download the last version of ngTasty.

[2014-08-11 19:22] Zizzamia opened #12 "The property is not set when the value is False"
We need strip only undefined, and keep `null` and `False`.
https://github.com/Zizzamia/ng-tasty/blob/master/src/table/table.js#L95

[2014-08-11 22:03] Zizzamia opened #13 "Custom sorting"
Disable a specific key for sorting.

[2014-08-12 04:11] #2 closed, assigned to Zizzamia

[2014-08-12 04:45] #12 closed, assigned to Zizzamia

[2014-08-12 05:58] #13 closed, assigned to Zizzamia

[2014-08-12 20:29] Zizzamia opened #14 "Issues and some fix"
Below there is the improvement need it for fix the `nul`l issue.

[code]

[2014-08-13 01:05] #14 closed, assigned to Zizzamia

[2014-08-13 18:11] #9 closed, assigned to Zizzamia

[2014-08-14 03:55] #5 closed, assigned to Zizzamia

[2014-08-14 04:56] #4 closed, assigned to Zizzamia

[2014-08-14 17:46] #10 closed, assigned to Zizzamia

[2014-08-14 20:15] Zizzamia opened #15 "Count params pagination"
Add the possibility to customize the count list in table pagination.

[2014-08-14 21:06] Zizzamia opened #16 "Improve the docs for small display"
Make more responsive for small display the documenation.

[2014-08-14 21:08] Zizzamia opened #17 "Documentation add the npm info"
Add the npm budge on the README and explain how also install ngTasty by the npm on the documentation.

[2014-08-14 21:18] Zizzamia opened #18 "Table pagination responsive"
We need replace all the

[code]

width

[code]

[2014-08-14 21:21] Zizzamia opened #19 "Custom th width"
Be able to passing different percentage witdh in tasty-thead

[2014-08-17 04:44] #17 closed, assigned to Zizzamia

[2014-08-18 02:07] ertsaas opened #20 "Enable the option to select pagination directive"
It would be nice to be able to select the pagination format.

Refer to this page: http://angular-ui.github.io/bootstrap/#/pagination

[2014-08-18 02:09] ertsaas opened #21 "Table doesn't scroll up correctly"
When I change between 25 and 5 entries, the table is no longer visible. It would be nice if whenever I change the number of entries the page would scroll up to the top of the table.

[2014-08-18 02:12] ertsaas opened #22 "The table documentation is not consistent"
There are two Coffee Bar entries from the Financial District.

The "star" column is capitalized for the pagination table but not for the sorting and complete tables.

Finally, one of the Blue Bottles is not capitalized.

[2014-08-18 02:18] #18 closed, assigned to Zizzamia

[2014-08-18 02:57] #16 closed, assigned to Zizzamia

[2014-08-18 03:52] #11 closed, assigned to Zizzamia

[2014-08-18 23:01] Zizzamia opened #23 "Remove all the Grunt dependence"
Doing a complete refactoring of all the Grunt code in Gulp.

[2014-08-18 23:04] Zizzamia opened #24 "Add ngTasty.util"
Add ngTasty.util as shortcut for all the service in ngTasty

[2014-08-20 00:40] Zizzamia opened #25 "Possible bug during refresh external scope variable"
Because table directive has `scope: true` we don't get isolate scope, and we fire the external variable only once.
If you refresh the resource espression we will not notice that.
Possible fix will be to use an isolate scope `scope: { ... }`

[2014-08-20 08:11] #23 closed, assigned to Zizzamia

[2014-08-20 21:20] #24 closed, assigned to Zizzamia

[2014-08-21 18:25] #15 closed, assigned to Zizzamia

[2014-08-25 07:21] Zizzamia opened #26 "Benchmarks by Benchpress"
Start collecting benchmarks by using https://github.com/angular/angular.js/tree/master/benchmarks

[2014-08-25 07:34] #26 closed, assigned to Zizzamia

[2014-08-25 07:34] #25 closed, assigned to Zizzamia

[2014-08-26 06:00] #22 closed, assigned to Zizzamia

[2014-08-26 06:02] Zizzamia opened #27 "Sorting by a key is not working properly"
Looks that the filter orderBy when contain as key a `-` is not sorting correctly.

[2014-08-27 04:56] #27 closed, assigned to Zizzamia

[2014-08-27 07:55] Zizzamia opened #28 "Performance!!!"
By using Batarang we need profile every binding is not fast enough and improve it.

[2014-08-27 22:28] Zizzamia opened #29 "Resource empty object cause errors in table directive"
In the table directive it's important be able to support an empty `resource` object, and maybe return some nice message about it.

[2014-08-27 22:35] Zizzamia opened #30 "Pagination is not working when there is only one row"
This line https://github.com/Zizzamia/ng-tasty/blob/master/src/table/table.js#L49
cause an error during pagination.
If the rows are just one the pagination is not showed.

[2014-08-28 08:07] #28 closed, assigned to Zizzamia

[2014-09-03 23:33] Zizzamia opened #31 "During server side pagination/sorting need back info"
Also params need return an object with all the info about the pagination and sorting.

[2014-09-09 04:03] #30 closed, assigned to Zizzamia

[2014-09-09 04:39] Zizzamia opened #32 "TypeError: Cannot read property '0' of undefined"
If the `header` during server side table it's empty should return a nice error message.

[code]

[2014-09-09 05:44] #31 closed, assigned to Zizzamia

[2014-09-09 06:32] #29 closed, assigned to Zizzamia

[2014-09-09 06:32] #32 closed, assigned to Zizzamia

[2014-09-13 20:34] Zizzamia opened #33 "Implement the filter functionality in the table directive"
In the client side version of the table directive, the filter functionality need be implemented.

[2014-09-16 07:42] Zizzamia opened #34 "Refactoring to be ready for Angular 1.3"

[2014-09-24 03:35] Zizzamia opened #35 "Possible issue when header key are not lowercase"

[2014-09-24 08:11] #35 closed, assigned to Zizzamia

[2014-10-03 17:34] thoughtpalette opened #36 ""the resource has the property header or rows undefined""
@Zizzamia Getting a weird error, can't figure out what's going on. I scaled down my data to some mock stuff and it's still giving me this. Are any parameters required by the configuration?

Happens in Angular@v1.2.26 and v1.3.0-rc.3

[code]

[code]

[2014-10-03 17:42] #36 closed, assigned to nobody

[2014-10-07 12:36] WebReflection opened #37 "[feature request] simplified header for resources"
Just wondering if this would make things easier to read or write

[code]

You can recycle same current logic through something like:

[code]

Assuming if one header uses just one key it's based on the new pattern.

[2014-10-07 17:18] #33 closed, assigned to Zizzamia

[2014-10-15 13:03] #37 closed, assigned to Zizzamia

[2014-10-23 04:03] #34 closed, assigned to Zizzamia

[2014-10-23 04:14] Zizzamia opened #38 "Docs filterInt"
Write documentation for filterInt

[2014-10-23 04:15] Zizzamia opened #39 "Docs debounce service"
Write documentation for the `debounce` service.

[2014-10-26 02:27] Zizzamia opened #40 "Document better few things"
In the client table document better:
- sortBy
  -`items-per-page` and `list-items-per-page` in pagination

Also some part of the documentation is not working.

[2014-10-26 07:49] #40 closed, assigned to Zizzamia

[2014-11-07 21:34] Zizzamia opened #42 "setPaginationRanges"
Looks is not working properly, possible fix

[code]

[2014-11-07 23:59] Zizzamia opened #43 "Pagination should follow the Bootstrap standard"
As you can see the pagination use `<span>` instead `<a>`, I think it's important fix this bug and make consistent con bootstrap http://getbootstrap.com/components/#pagination.

[2014-11-10 19:09] #43 closed, assigned to Zizzamia

[2014-11-10 19:39] #42 closed, assigned to Zizzamia

[2014-11-10 22:18] #3 closed, assigned to Zizzamia

[2014-11-11 01:52] Zizzamia opened #44 "Filter issue in table"
This code will fix an issue related to the filters in table

[code]

[2014-11-11 05:35] #44 closed, assigned to Zizzamia

[2014-11-14 03:53] pschork opened #46 "Typo in example HTML code closing </td>"
[code]

[2014-11-14 18:49] #46 closed, assigned to Zizzamia

[2014-11-16 00:03] Zizzamia opened #47 "not-sort-by improvement"
In the table directive when you set `not-sort-by` empty should not allow all the columns to be sorted.

[2014-11-20 06:23] wesww opened #48 "running the demo app throws dependency errors ("$injector:modulerr")"
Tried about a week ago to run up the demo app following instructions, but it didn't work. So I finally just cleared it all out and looped back around to document the process so we can see where the trouble might be. Here goes:
- checked out a clean copy of the repo
- cd'd into project folder, where package.json and gulpfile.js reside
- ran `npm install`, looks like everything installed fine. No er

[2014-11-20 15:18] mszmida opened #50 "Pagination links conflicts with routing in AngularJS"
When I click in pagination links Angular routes mi to '/' path of my application. This is due to href="#" attribute in links.

Why this problem does not occur on ngTasty homepage example of grid?

[2014-11-22 20:25] mathewstars opened #51 "server side default sortBy and sortOrder"
At this moment I am unable to set default orderBy and sortOrder for server side table version. Regardless what function returns
return {
          'rows': response.data.rows,
          'header': response.data.header,
          'pagination': response.data.pagination,
          'sortBy': "mesto",
          'sortOrder': "asc"
        };
Table seems to ignore that.

[2014-11-22 22:48] #47 closed, assigned to Zizzamia

[2014-11-23 00:09] #51 closed, assigned to Zizzamia

[2014-11-23 02:18] #19 closed, assigned to Zizzamia

[2014-11-23 10:44] nihao opened #52 "the resource (ctrl.perfRes) has the property header or rows undefined"
hi Zizzamia,

In my project, I'm facing an error "the resource (ctrl.perfRes) has the property header or rows undefined ", the following is the primary code(not use $scope):
controller.js
[code]
[code]
[code]

please help to check , thanks.

[2014-11-25 23:50] #48 closed, assigned to nobody

[2014-11-25 23:54] Zizzamia opened #54 "Add debounce config with server side table"
Be possible add `debounce` behavior to the xhr callback in the server side table directive.

[2014-11-26 08:52] aganglada opened #55 "TypeError: Cannot read property 'then' of undefined"
Hello @Zizzamia,

When I try to get the data from my API, is giving me a weird error coming from your library:
"TypeError: Cannot read property 'then' of undefined"

I'm just doing a API call and returning everything I need for the table.

Sound it familiar for you?

I saw in some issues that we have to return a promise for it to work.

[code]

Is this first ".then" which doesn't work

If you have

[2014-11-26 09:01] #55 closed, assigned to nobody

[2014-11-26 18:59] Zizzamia opened #56 "tasty-thead stop set width columns as default"
When is using the `tasty-thead` there is the default behavior to set the width of the columns
Here the line of code in charge of that.
https://github.com/Zizzamia/ng-tasty/blob/master/src/table/table.js#L340

ngTasty should not set the width as default and let the user to set it if they want.

Thanks @aganglada for the feedback

[2014-11-27 13:59] aganglada opened #57 "Optional template for table pagination"
As having a static template is making problems in some projects that have html5Mode enabled.
Doing pagination template as optional parameter in directive.

I will create a feature branch to do a pull request later,
Let me know is is fine for you.

feature/57-optional-pagination-template

[2014-11-28 21:14] #57 closed, assigned to nobody

[2014-11-28 21:19] #50 closed, assigned to nobody

[2014-11-28 23:00] #56 closed, assigned to nobody

[2014-12-01 00:08] Zizzamia opened #59 "Generate tastyUtil"
Generate tastyUtil from a list of all possible service
https://github.com/Zizzamia/ng-tasty/blob/master/src/service/service.js#L19

So that means also divide all the service in single components files.

[2014-12-02 07:28] Zizzamia opened #60 "Let's make some benchmark"
Have several benchmark for every version.

[2014-12-03 19:29] aganglada opened #61 "Adding support for scope in pagination directive"
As we discuss, we should add support to be able to pass a scope variable to the directives attributes.
For a posible solution is to use something like this:
https://github.com/Zizzamia/ng-tasty/blob/master/src/table/table.js#L41

Looks good for me.

[2014-12-04 12:40] ernestoallely opened #62 "Filtering on the server side"
Hello,

First of all thanks for you amazing work on this plugin. I do not have a lot of experience with the plugin yet but I am trying to implement a search box with a server side processing. At the moment I could make it more or less workable but I had a few issues on the network console.

This is my code:

[code]

And here the JavaScript code:

[code]

On the network console I can see that the c

[2014-12-05 00:02] #59 closed, assigned to Zizzamia

[2014-12-06 01:18] #62 closed, assigned to Zizzamia

[2014-12-07 02:30] #61 closed, assigned to nobody

[2014-12-08 09:09] #39 closed, assigned to Zizzamia

[2014-12-10 02:19] Zizzamia opened #63 "The dist is not generate correctly"
The `dist` file has a important bug with the list of modules.

[2014-12-10 07:04] #38 closed, assigned to Zizzamia

[2014-12-10 08:14] #63 closed, assigned to Zizzamia

[2014-12-10 09:02] Zizzamia opened #64 "Write more test for webSocket"
Here the file
https://github.com/Zizzamia/ng-tasty/blob/master/src/service/test/web-socket.spec.js

[2014-12-11 16:24] ernestoallely opened #65 "Search plus pagination"
Hi all,

I would like to report a possible bug that happens when filtering is used at the same time than pagination. It can be reproduced for example on the project home, at least at the time this post is being written.

http://zizzamia.com/ng-tasty/directive/table

To reproduce the bug what you need to do is going to any page different than page one, let's say page 3, and search for any word that

[2014-12-12 06:24] #60 closed, assigned to Zizzamia

[2014-12-15 01:40] Zizzamia opened #66 "Bug when header is an empty list"
When you pass an empty header list there is an error stop everything.

Possible fix

[code]

[code]

[2014-12-17 06:34] Zizzamia opened #67 "Bug when using the $scope.params outside the table"
Possible solution is making a copy with `angular.copy($scope.params)`

[code]

[2014-12-17 07:31] Zizzamia opened #68 "Broking pagination if resource.pagination is missing"
If `resource.pagination` is missing in the Table server side the pagination is broke.
Possible fix

[code]

[2014-12-19 08:54] #65 closed, assigned to nobody

[2014-12-20 03:45] #68 closed, assigned to Zizzamia

[2014-12-20 22:09] #67 closed, assigned to Zizzamia

[2014-12-21 10:36] #66 closed, assigned to Zizzamia

[2014-12-22 17:53] galbangi opened #69 "How can I access new data object in view"
[code]

i am not able to access mydata in view can u help

[2014-12-23 09:32] Zizzamia opened #70 "Write documentation to how use WebSocket"
Need explain how use the service.

[2014-12-23 09:35] Zizzamia opened #71 "Name collision"
Many service can have a name collision with other service inside a big project.
Need think a short prefix to use before every service, a possible solution could be use the prefix `tasty`.

[2014-12-23 16:21] galbangi opened #72 "How to bind data to table get from ajax call"
when i click on button it fires ajax with params and i got data but its not binding data to table

can you help thanks
[code]

[2014-12-26 00:47] #69 closed, assigned to Zizzamia

[2014-12-26 01:09] #64 closed, assigned to nobody

[2014-12-26 02:10] #70 closed, assigned to nobody

[2014-12-26 02:12] Zizzamia opened #73 "As default use the bootstrap icon"
As default use the bootstrap icon and give the possibility to choose Font Awesome as optional version.

[2014-12-26 20:04] Zizzamia opened #74 "Implement throttle"
Implement a new service `throttle` and add docs

[2014-12-26 20:16] Zizzamia opened #75 "Daterangepicker in pure AngularJS"
Have a pure daterangepicker in AngularJS

[2014-12-27 04:40] #74 closed, assigned to Zizzamia

[2014-12-27 05:11] Zizzamia opened #76 "Have plunker for all service docs"
More plunker live example!

[2014-12-27 06:52] #73 closed, assigned to Zizzamia

[2014-12-29 19:47] Zizzamia opened #77 "Write a camelize filter"
Get inspiration from https://github.com/epeli/underscore.string/blob/master/camelize.js

[2014-12-29 19:48] Zizzamia opened #78 "Write a slugify filter"
Get inspiration from https://github.com/epeli/underscore.string/blob/master/slugify.js

[2014-12-31 02:27] #77 closed, assigned to Zizzamia

[2015-01-01 22:09] Zizzamia opened #80 "Option to have different $watch resource version"
As default we serve a deep `$watch` for `$scope.resource` and that allow the table to reload automatically every time the table data change inside.
This `$watch` it's of course very expansive, and also the number case of table need change constantly are not so high.
So I was thinking to had an option like `bind-reload` or something similar that automatically if is `true` will allow the automatic r

[2015-01-07 04:17] gdi2290 opened #81 "repo removed from google"
https://www.chillingeffects.org/notices/10275257#infringing_url_598767486

[2015-01-07 07:12] Zizzamia commented on #81
Why?

[2015-01-07 07:19] Zizzamia commented on #81
Thank you for reporting this but, all of this has no sense!
And this motivation it's totally wrong.
"The materials reported in this notice are the copyrighted DVD/videos of Wicked Pictures. A representative list of these works is available at http://www.wickedpictures.com"

[2015-01-08 21:26] Zizzamia commented on #81
https://github.com/Zizzamia/ng-tasty was not in Google during all yesterday, and now looks is back.

[2015-01-08 21:35] gdi2290 commented on #81
fill this out
https://support.google.com/legal/contact/lr_counternotice?product=websearch

[2015-01-08 21:54] Zizzamia commented on #81
ThankYou

[2015-01-19 04:45] Zizzamia commented on #78
@bogdan-alexandrescu wrote this tasty contribution https://github.com/Zizzamia/ng-tasty/pull/83

[2015-01-19 05:48] vinsim24 opened #84 "Reloading Table data after JSON Response"
Hi, I am using the ng-tasty sortable server side table in one of my projects. My question is:
I load a data table using the ng-tasty server side plugin.  Everything loads fine and sorting works perfectly by calling the getResource callback method with server side url, say A.

In that same table I have a column which has a link for each row and click of it should call a url say B(and take custom pa

[2015-01-20 00:17] #78 closed

[2015-01-20 03:33] #80 closed

[2015-01-20 04:40] #81 closed

[2015-01-20 09:04] Zizzamia commented on #84
Hi @vinsim24, tomorrow I will make a plunker to better show you a complete solution.
For now I want show you a partial one.
Markup
[code]
Javascript
[code]
Api url
[code]

So the idea is you can manipulate custom params by the object you passing inside `bind-filters`, maybe is not the correct name for a good API.
Probably need a better name, because is not just a filter object, in this case every

[2015-01-20 20:26] effectidea opened #86 "Can't use custom pagination template in server side mode."
Hello!
I want to use custom pagination template in server mode. According to docs I set new attribute in 'tasty-pagination' div:
`bind-template-url="folder_in_the_server/template_new.html"`
But I have strange internal angular error in browser console. After debug I see some interesting things: for isolated scope "templateUrl" value is NaN.

Please, can you add to docs some examples with custom pag

[2015-01-20 22:37] Zizzamia commented on #86
ThankYou to reporting this case, I will make sure to cover your case in the documentation.

[2015-01-21 06:31] Zizzamia commented on #86
Hi @effectidea,
here you can find an example with custom template-url http://plnkr.co/edit/0oRWyWMYY9zoQEeNlK7h?p=preview

The problem was in the use of `bind-`, so I made the table directive working with two differente way of passing variable.
1) bind-template-url : all the time you use `bind-` you will pass a `$scope` variable
2) template-url : you will just pas a plain text

So in your case you

[2015-01-21 06:33] Zizzamia opened #87 "Bug passing plain text without bind-"
If we pass a string on one of the table attribute, we are going to genere an error.

[2015-01-21 07:29] #87 closed

[2015-01-21 09:07] effectidea commented on #86
Thank You, @Zizzamia ! I understood your answer and made changes in my code. Now all works fine!
Best regards!

[2015-01-21 09:14] Zizzamia commented on #86
By the way the bug you found it, I just fix it and deploy a new version 0.4.6 of ng-tasty :)

[2015-01-21 09:14] #86 closed

[2015-01-22 18:25] vhmolinar opened #88 "Empty initialization"
What would be the best way to initialize tasty-table without data filled in table?
I found myself doing workaround to make it possible.
My scenario is just as follows:

- I have a table with headers set
- I will fill that once user clicks a search button
- The data will be paginated

this is how I set the table
[code]

Problems found so far:
- The directive tries to fetch data throught getResource

[2015-01-22 19:13] Zizzamia commented on #88
ThankYou for sharing your experience with ngTasty.
I never thought about your specific case, I believe the best implementation should be have the object `bind-init` as default `false`, in this way does not fetch data in the beginning.
And only if you set `bind-init="init"` equal to something like `$scope.init = { 'count': 5 };` will start ad default with that values.

So in the end, I will make a

[2015-01-22 19:16] Zizzamia opened #89 "bind-reload server side table"
In the server side table we want be able to not run the query if `bind-init` is `false`.
Issue related to https://github.com/Zizzamia/ng-tasty/issues/88 by @vhmolinar

[2015-01-22 19:16] #88 closed

[2015-01-22 19:16] Zizzamia opened #90 "Custom template header"
In the table directive, have the possibility to have a custom header.

[2015-01-22 19:20] Zizzamia commented on #72
@galbangi did you still have that issue?

[2015-01-22 19:21] Zizzamia commented on #52
Hi @nihao did you still have that issue?

[2015-01-23 16:05] effectidea opened #91 "Can't init custom count value in first request (server side)."
Use case:

In controller:
`$scope.initTasty = {
            'count': 20,
            'page': 1
        };`

In view:
`<div tasty-table bind-resource-callback="getActivityReport" bind-init='initTasty' bind-filters="filterBy">`

In log:
`count=5&date-range=quarter&page=1`

5 is not 20  :)

In debugger:
tastyTable scope: url = `page=1&count=5&date-range=quarter`

Thanks.

[2015-01-23 20:52] Zizzamia commented on #91
ThankYou to reporting this bug, I will take care of this during weekend.

[2015-01-25 12:03] galbangi commented on #72
Hi thanks for asking i fix that issue by changing in your file it was easy
fix

Thanks

On Friday, 23 January 2015, Leonardo Zizzamia <notifications@github.com>
wrote:

[2015-01-25 23:49] #72 closed

[2015-01-25 23:49] Zizzamia commented on #72
#sweet :)

[2015-01-26 01:14] #91 closed

[2015-01-26 09:24] Zizzamia commented on #89
Start working on this task, here first commits:
- https://github.com/Zizzamia/ng-tasty/commit/c48fee768199161e357ad6c49f0804c9e874fb90
- https://github.com/Zizzamia/ng-tasty/commit/db9c65af5ac176ba95c5dc80427ee6fb3a4dc302

We will have a new demo page for showing this special case.

[2015-01-27 07:34] Zizzamia commented on #89
In the end I create `bind-reload`, a easy way to set an empty callback in charge to manually reload the table.

[2015-01-27 07:34] #89 closed

[2015-01-27 09:18] #90 closed

[2015-01-28 15:54] jvjvjv opened #92 "Table does not display after API call"
I have a case where I cannot use `bind-resource-callback` in my table, as I only wish to call data from the server once. So my page is set up using the regular _Table_ example, except instead of a static table in the controller, I make an API call. The data does not display until I click on a column to change sorting. I hope you can help. I've tried to rewrite the code below instead of copy/paste,

[2015-01-28 19:51] Zizzamia commented on #92
My first advice, is too update `ng-tasty` to the latest version `0.4.7`, also I will try to replicate your case in the documentation.
ThankYou for ask the question

[2015-01-29 07:31] Zizzamia commented on #92
Here the documentation to implement sorting/pagination table client side and loading the resource by `$http`.
http://zizzamia.com/ng-tasty/directive/table/simple-http

Please let me know if the docs is enough clear, and solve your case :)
Thank you again

[2015-01-29 07:53] Zizzamia commented on #52
Hi @nihao, news about your issue?

[2015-01-31 22:02] Zizzamia opened #93 "Fix issue to watch-resource"
Does not work when passing plain string

[2015-01-31 22:04] Zizzamia opened #94 "Have possible use the full options of bind-filters"
By passing filters, we want also use the full power of filter `filter`.
https://docs.angularjs.org/api/ng/filter/filter

[2015-01-31 22:20] #93 closed

[2015-01-31 22:47] #94 closed

[2015-02-02 21:03] vinsim24 commented on #84
@Zizzamia I added the bind-filters and the custom attribute gets added to the API url.  Few more dots missing in this... Will explain the same:
1)Firstly I need to set 3 custom attributes with the content of row as shown below:

[code]

[code]
Is the above approach to set filters right?
2)The page loaded correctly with data in table.
But when I click the cancel link it didnt call the server url an

[2015-02-02 22:03] vinsim24 opened #95 "Two JSON call onload - Table Server Side with Sorting"
**HTML**
[code]
**Javascript**
[code]
As seen in console screenshot, there are 2 JSON calls, is this expected?

![image](https://cloud.githubusercontent.com/assets/7018900/6009829/8f3dd210-aafb-11e4-97cd-71a6ec112c4d.png)

[2015-02-03 06:30] Zizzamia commented on #95
Are you using the latest version `v0.5.0` ? I fixed a bug similar a couple of weeks ago.
ThankYou for the feedback

[2015-02-03 08:36] Zizzamia commented on #84
The reason does not call the server url is because you just not assign correctly your `filterBy` variable.
In your template you don't need use `$scope` to access the AngularJS scope.
[code]

Instead you should do in this way
[code]

This should fix your problem.
Please let me know if does work.

[2015-02-03 18:56] vinsim24 commented on #95
This worked... I was using v0.4.4.

[2015-02-03 18:56] #95 closed

[2015-02-03 21:38] vinsim24 commented on #84
Suggested changes worked good.
Should be the last one, how do I reload the table on click of a button outside the table, without page being reloaded.

[2015-02-03 21:50] Zizzamia commented on #84
What do you want reload exactly?

[2015-02-03 22:27] vinsim24 commented on #84
The entire content of the table as it would be loaded on page load.

[2015-02-04 00:18] Zizzamia commented on #84
So if you want reset the table to the beginning content, you just need set `filterBy` empty as was in the beginning.
[code]

[2015-02-09 20:16] Zizzamia opened #96 "Custom class on table directive"

[2015-02-09 23:43] #96 closed

[2015-02-21 20:06] sazary opened #98 "Pagination must be reset after new filter"
Hi
these are the steps to reproduce this bug:
1. go to page n >= 2
2. change a filter criteria, so that the resulting data comes in less pages than n. for example go to page 5, then search for something that has less than 5 pages of data. then table doesn't show anything, but it must show.

how to fix the bug:
reset pagination to page 1 after every change in filters.

[2015-02-23 07:51] mikila85 opened #99 "tabination and PerPageShow"
Hi, in the table i found my desired row at page 3 of 5 and want to change (PerPageShow) i lose my row.
can i in PerPageShow-change see which row is first currently and make sure its still displayerd or even make sure its still first after PerPageShow-change?

would be awsome for an option "keepFirstRowOnPerPageShow=true"

[2015-02-23 22:44] Zizzamia commented on #98
Are you using #ngTasty version 0.5.0 ? This looks an old bug already fix few months ago.

[2015-02-23 22:49] Zizzamia commented on #99
Sorry, but I'm not really sure to understand your case. What version of ng-tasty are you using now?

[2015-02-23 22:56] sazary commented on #98
yes it is 0.5.0

[2015-02-23 23:02] Zizzamia commented on #98
What table are we talking about:
Table client side
[code]

Table server side
[code]

I try to replicate the error on the docs, but was not possible.

[2015-02-23 23:57] Zizzamia opened #100 "resource is not sync"

[2015-02-24 06:24] rohansp opened #101 "table doesn't load with new itemsperpage"
I have created a dropdown and binded to model gridpagination.count
[code]
I get the required data from the server, however the items per page doesnt bind to the table.
So initially if I have 10 records per page and I select 25 from dropdown, it still shows 10 records per page.Whereas, when I check the Json returned from the server,it shows 25 records per page..
What could be the issue?

[2015-02-24 06:27] rohansp commented on #101
Also, one more point , when I use the square buttons ie listItemsPerPage [10,25,50,100] for Pagination the grid loads with correct no of records.

[2015-02-24 07:44] Zizzamia commented on #101
The implementation above is not correct, if you can copy and paste all your html and js will be easier help you.

[2015-02-24 08:29] mikila85 commented on #99
latest, not an issue i think enhancement,

basicly i want to do responsive pagination, that if page can have 5 rows or 15 rows it will display it (height avaliable \ row height) reducing the header and pagination footer) for that i need the content that is in row1 will remain in row1 even after changing the "PerPageShow" for example from 5 to 6, right now it keeps the same page u were in. the curr

[2015-02-24 08:38] rohansp commented on #101
--app.js
var app = angular.module("MyApp", ['ngTasty']);

app.controller("PaginationCtrl", function ($scope, $http) {

    $scope.init = {
        'count': 10,
        'page': 1,
        'sortBy': 'CustomerId',
        'sortOrder': 'asc',
        'listItemsPerPage': [10, 25, 50, 100],
        'itemsPerPage': 10,
        'pagination': true
    };

    $scope.listItemsPerPage = [10, 25, 50, 100];

[2015-02-24 08:51] rohansp commented on #101
im unable to copy full html as it renders in browser

[2015-02-24 10:47] rohansp commented on #101
Attaching the images of the html..
![html 1](https://cloud.githubusercontent.com/assets/11171608/6347758/6cff39ea-bc40-11e4-8bd0-63952ffaec69.png)

![html 2](https://cloud.githubusercontent.com/assets/11171608/6347786/98a4c7b8-bc40-11e4-887c-b4b2d38a4389.png)

[2015-02-24 16:55] sazary commented on #98
I'm talking about server side one. follow these steps to reproduce the bug:
1. go to [this page](http://zizzamia.com/ng-tasty/directive/table-server-side).
2. search for "s".
3. go to page 3.
4. now search for "bar".
5. note that number of pages in pagination bar reduces to one page, but no item is shown in the table. also note that in the API URL, the page requested is `page=3`.
6. now click on p

[2015-02-26 06:25] rohansp commented on #101
any idea why it doesn't work?whats wrong with the implementation...

[2015-02-26 09:26] Zizzamia commented on #101
I assume you should take a look the response of your backend, because your code looks ok.
Is it possible have a `console.log(response.data)`?

Also if you want customize the pagination you should take a look here http://zizzamia.com/ng-tasty/directive/table/custom-pagination

[2015-02-26 09:52] rohansp commented on #101
Will have a look at custom pagination.
Attaching image of console.log
![console log](https://cloud.githubusercontent.com/assets/11171608/6389582/361e88c2-bdcb-11e4-848c-aa5026321e30.png)

[2015-02-26 15:29] rohansp commented on #101
i figured it out.Created custom pagination html....it works now...

<div tasty-pagination  bind-items-per-page="itemsPerPage" bind-list-items-per-page="listItemsPerPage" template-url="localTemplatePagination.html">

 </div>

 <script type="text/ng-template" id="localTemplatePagination.html">
          <div class="row">
            <div class="col-xs-6 text-center" >
              <ul class="pagina

[2015-02-26 15:31] rohansp commented on #101
<div tasty-pagination  bind-items-per-page="itemsPerPage" bind-list-items-per-page="listItemsPerPage" template-url="localTemplatePagination.html">
</div>

<script type="text/ng-template" id="localTemplatePagination.html">
          <div class="row">
            <div class="col-xs-6 text-center" >
              <ul class="pagination">
                <li ng-class="classPageMinRange">

[2015-02-26 18:22] Zizzamia commented on #101
#Awesome

[2015-02-26 18:22] #101 closed

[2015-03-03 17:20] gkohen opened #102 "Link to demo seems to be down"
Please not that the zizzamia.com domain is not reachable at this momemnt.

Thanks
-Gabe

[2015-03-03 18:40] Zizzamia commented on #102
Thank you to report this, I have an issue with the host, and I'm working right now to fix that. :)

[2015-03-10 01:12] #98 closed

[2015-03-10 01:13] Zizzamia commented on #98
#ThankYou @sazary to report this issue, was really helpful!
In the next release will be out this fix.

[2015-03-10 01:16] sazary commented on #98
Thank you for fixing it!

[2015-03-10 01:28] #100 closed

[2015-03-10 01:36] Zizzamia commented on #99
Hi @mikila85, I have not clear your case yet.
The only example I found on internet was this one http://zurb.com/forrst/posts/Responsive_pagination_for_Bootstrap_3-GcI, but I don't think is your case.

Can you please give me a better example by show me some other library/article/implementation how this feature should work.

ThankYou

[2015-03-10 11:22] mikila85 commented on #99
was just an idea, nvm mate :)
reproduce:
1) set table to 10 rows in page.
2) go to page 3.
3) look at a row u like.
4) change PerPageShow to 5 rows in page.
5) row is gone,... since ur still in page 3, but the row u looked at is now at page 1 or 2.

thats what i ment in keep row1 in current page visible after PerPageShow change.

[2015-03-11 00:14] Zizzamia opened #111 "Add bind-theme to the table"
Be able to customize each table with a different `theme`.
The `theme` value will override the `tableConfig` constant.

[2015-03-11 13:18] mkaluzny opened #112 "Page number should be reset after filters change for server resource"
If you are fetching data from server and filters changed, then current page number should be set to 1, before sending request for filtered data. Currently, if you are on page greater than 1 and after applying filter there is not enough data to display requested page ng-tasty will show empty list for requested page, but it should jump to first page.

[2015-03-11 15:01] cadooo commented on #92
You need to add watch-resource="collection".

http://zizzamia.com/ng-tasty/directive/table/simple-http
watch-resource="collection"
The main difference between the Table simple and Table simple $http is the initialization time of the resource in the table. In this case we start with $scope.resource.rows = [] and only after the http request we populate that value. As default the table is updated onl

[2015-03-11 17:23] Zizzamia commented on #112
I think you are in the same case of this issue https://github.com/Zizzamia/ng-tasty/issues/98.
If it's that the case you should update to `v0.5.1`.

Anyway I'm going to investigate more about it.

[2015-03-11 19:22] Zizzamia opened #113 "Add Benchmark for Smart-Table"
Create a benchmark for the Client side Pagination version of Smart-Table
https://github.com/lorenzofox3/Smart-Table

[2015-03-12 13:03] jashanpreetsingh opened #114 "bind-reload not working"
I have a case where I want to reload my table on a button click. But when I am adding bind-reload attribute it show no response and no call is made to API. FYI I am implementing Service Side Table.
HTML:
![html](https://cloud.githubusercontent.com/assets/11288943/6618104/dc1ce4ce-c8e5-11e4-8433-6e58cf93f8fb.JPG)

Javascript:
![javascript](https://cloud.githubusercontent.com/assets/11288943/6618123

[2015-03-12 19:49] billfranklin opened #115 "Filter and sorting aren't working"
I am using a service to populate the bind-resource with a JSON data provider.  The data populates fine, and the table paginates, but I am unable to get the filter or the sorting to work.  Here is my table heading and controller
[code]
[code]

[2015-03-12 21:02] Zizzamia commented on #115
I did not try yet your code, but a possible issue could the fact you don't pass a `$scope` variable.
And the internal `$scope.$watch` can not work properly in this case.

[2015-03-12 21:23] billfranklin commented on #115
I added $scope to the controller...didn't change anything.

[2015-03-12 21:25] billfranklin opened #116 "Have you used ReactJS successfully w/ your tables?"
Looking to see if anyone has had any success implementing reactJS w/ ngTasty tables.

[2015-03-12 21:30] Zizzamia commented on #115
The sorting is not working because you miss add the `tasty-thead` directive.
Here an example of the Complete Tasty table version http://zizzamia.com/ng-tasty/directive/table/complete

[2015-03-12 21:31] Zizzamia commented on #116
I'm a big fun of React, what kind of use are you talking about?

[2015-03-12 22:03] billfranklin commented on #116
better performance rendering large tables (for instance, I have a 1200 row table that I am paginating, but it takes a bit of time to render)

[2015-03-12 22:30] Zizzamia commented on #116
Really? Can you make a Plunker so I can see that live, and also create a benchmark about it!

[2015-03-13 06:56] Zizzamia commented on #114
After few investigation I discover the table reload only if you change the filter value, here the exactly line of code does that https://github.com/Zizzamia/ng-tasty/blob/839f9fc4f13a6dd33881a83d9dda0bd32ca1a182/src/component/table.js#L351

This is a bug, because the correct behavior instead should be the possibility to control the reload of resource inside the table in every case.

ThankYou @jash

[2015-03-13 07:00] Zizzamia commented on #112
@mkaluzny can you tell me what version of #ngTasty are you using and also give me an example of your  html and js implementation in this case please. ThankYou

[2015-03-13 07:00] Zizzamia commented on #102
Fixed! ^_^

[2015-03-13 07:00] #102 closed

[2015-03-13 07:01] Zizzamia commented on #92
Hi @jvjvjv did you still have this problem?

[2015-03-13 07:02] Zizzamia commented on #84
Hi @vinsim24 did you still have this problem?

[2015-03-13 13:40] billfranklin commented on #116
I was asking, not announcing :)

[2015-03-13 17:23] Zizzamia commented on #116
You can give a try :-)

[2015-03-13 18:48] vinsim24 commented on #84
Apologies, I forgot to update. All is good.

[2015-03-13 18:48] #84 closed

[2015-03-13 18:54] vinsim24 opened #117 "Is these Features Available - Loading Indicator/Mask, Empty Table Text"
Hi,

As per documentation I didn't get details on the following features:

1. Option to sat we need a Loading Indicator/Loading Mask in the table. Need this if the response time of JSON URL is long.
2. If the JSON URL returns with no data, then the table should show a empty table text. An attribute for table tag will make it easier rather than handling in code.

Regards,
Vinod.

[2015-03-13 19:09] Zizzamia commented on #84
#ThankYou

[2015-03-13 19:11] Zizzamia commented on #117
We don't have this feature, you could make a PR about it, and start a conversation to a possible implementation.

[2015-03-14 15:38] prateekbhatt opened #118 "Error in Documentation Example"
In the documentation for implementing a Simple table (http://zizzamia.com/ng-tasty/directive/table), there is a key-name mismatch in the example's 'Javascript' code:

In the `header` object, the key is `sf-Location` where as in `rows` array the objects have the key `sf-location` (Notice the `L` capitalisation diff).

[code]

I am not sure if the documentation is hosted on Github, else would have m

[2015-03-14 20:03] Zizzamia commented on #118
Morning, so you can make a PR and the file is
https://github.com/Zizzamia/ng-tasty/blob/master/docs/template/table/simple.html

The correct version is `row['sf-Location']`
Grazie

[2015-03-15 05:56] prateekbhatt commented on #118
Done

[2015-03-16 16:06] joamaki commented on #115
I'm having this issue as well. Seems like the simple http example is misbehaving as well: http://zizzamia.com/ng-tasty/directive/table/simple-http. Pressing the headers to sort only works sometimes and only in one direction.

[2015-03-16 17:32] Zizzamia commented on #115
Can you please give me an example of code with the Javascript and Markup you are using.
If you guys can recreate the error here will be so easy for me fix it in an hour. ThankYou

[2015-03-18 14:14] joamaki commented on #115
As said earlier, the code in the simple-http example shows this. It gets triggered
when 'watch-resource' is set to 'collection'. Try clicking few times on the "Name" header in the 'simple-http' example and compare it to the behaviour in the 'simple' example.

[2015-03-18 17:54] Zizzamia commented on #115
Ops! That looks a bug. I will take care of that, thanks for the feedback.

[2015-03-18 22:15] Zizzamia commented on #115
I double check, and in the new version I will release soon `0.5.2` the bug is gone.

[2015-03-18 22:15] #115 closed

[2015-03-18 22:16] Zizzamia commented on #118
Hi, the fix you did it's wrong. Should be `row['sf-Location']` as you can see
on this line https://github.com/prateekbhatt/ng-tasty/commit/e12cd10da2a953af99cbc08480b7b8abc4fb63ed#diff-303c0216adfd308d6f62b1f75f5f03c9R15

[2015-03-18 23:14] #114 closed

[2015-03-19 00:24] #111 closed

[2015-03-23 16:13] samartioli opened #120 "Reference Filtered Collection in Controller"
I should be able to access the full collection of filtered objects, currently I can only access the visible rows or the entire collection.

[2015-03-23 16:15] samartioli opened #121 "Pagination should have show all."
If I have pagination set to [5,25,50] and I have 23 rows, I am only able to select 5 per page.
I should be able to select 25 to show the entire collection.

[2015-03-23 16:17] samartioli opened #122 "Input checkboxes in column are not sortable"
If I create a column of input checkboxes, sorting on that column is random. It should toggle to sorting all the true values to the top, then the false.

[2015-03-23 18:05] Zizzamia commented on #120
Where you want access that one? And for what purpose?

[2015-03-23 18:20] Zizzamia commented on #121
I see your point, I think could be a good improvement. I would like hear more what the community think about that.

[2015-03-23 18:22] Zizzamia commented on #122
Can you replicate a situation I can use as case study? I never had this case, but I think it's a good point allow sorting checkbox if someone want.

[2015-03-30 05:34] eduavila opened #124 "No sort on header key using underline . "key": "da3_cod""
Problem sortBy on header using underline ex:  "key":"da3_cod".
Only works the first sort. When you sort the same column does not work.

google translate  :'(

[2015-03-30 18:17] Zizzamia commented on #124
This issue it's been fix by @wahidnory few days ago, will be in the next release of #ngTasty in less than a week. https://github.com/Zizzamia/ng-tasty/pull/123

[2015-03-30 18:17] #124 closed

[2015-04-01 09:49] skusunam opened #125 "How to run benchmarks for ng-tasty"
Here is what i did and still not able to run the benchmarks:

1) Went to an empty folder and executed this:
`> npm install benchpress ng-tasty`

2) Then executed these:

3) After jumping through few hoops i was able to run with the following command:

Output:
[code]
Not sure what i am missing. If i try to run any of the `benchmarks` inside `ng-tasty` i get same error. I must be missing something?

[2015-04-02 15:33] skusunam commented on #125
I was able to run with some changes to 'protractorBenchmarks.conf.js" which is generated after "yo benchpress ng-tasty". I wish we can run these right after they generated without any changes. Also we need little more clear documentation on how to run these benchmark tests.

Thanks for putting this as this really helping me on how to setup benchmarks on our own internal "grid" implementation. Afte

[2015-04-02 15:43] ragsnas opened #126 "add custom filters"
Hi,

i would like to add the option to use specific filters for certain types (*Integers, date ranges, enums*).
A user should be able to filter those with specific filter elements (*select box, multi selectbox, daterange picker etc.tt.*) in the table view.

Is there already a "best practise" to do this?
How should i tackle this so it could be reuseable?
Any Ideas?

[2015-04-02 18:23] Zizzamia commented on #125
I follow your steps
[code]

And I get this error
[code]

So I install the missing dependency
[code]
And run again `protractor benchmarks/protractorBenchmarks.conf.js` everything worked correctly
[code]
@skusunam thank you for your feedback, we totally need a better documentation about it.
What you did change on `protractorBenchmarks.conf.js` ?

[2015-04-02 18:31] Zizzamia commented on #112
@mkaluzny can you give me more info about it, and some code to replicate this issue please.

[2015-04-07 00:38] #121 closed

[2015-04-09 10:07] skusunam commented on #125
I had to run "npm install benchpress" on top of your steps.

Also noticed that 8080 port was used by some other process on my Mac and i was getting "page not available" error. I can run now without any changes to configuration file. Thank You !!!!

[2015-04-09 10:07] #125 closed

[2015-04-09 20:35] Zizzamia commented on #125
Awesome! Do you want help me write a `.md` file to document better the Benchpress steps?

[2015-04-30 08:46] firecentaur opened #129 "question: how to cache"
Hi there, is there a way to cache data once its already been downloaded on a page of pagination?

[2015-05-04 18:57] Zizzamia commented on #129
Hi @firecentaur, there is not an official way or some test about caching data during pagination.
Do you want investigate more about how we could improve the performance by caching?
We should think on both case:
1) client side pagination
2) server side pagination

and see what is the simpler solution.

[2015-05-04 21:01] Zizzamia opened #131 "Document and refactoring of loadOnInit"
After the amazing PR of @flaviogranero it's time to push this feature on production.
The initial PR https://github.com/Zizzamia/ng-tasty/pull/127

And here my commit https://github.com/Zizzamia/ng-tasty/commit/03f4075d850d2364ab97c5eefa5c5f5e0c2d16b2

[2015-05-04 21:30] #131 closed

[2015-05-04 21:31] flaviogranero commented on #131
:+1:

[2015-05-04 22:04] Zizzamia commented on #126
Good question @ragsnas,
Let's walk on this question step by step, show he some code JS / HTML you already wrote and let's make it better together.

[2015-05-04 22:05] Zizzamia commented on #122
Hi @samartioli, if you can write an example will be great as point of start.

[2015-05-04 22:07] Zizzamia commented on #120
Good point @samartioli
I will work on it in the next milestone.

[2015-05-04 22:07] Zizzamia commented on #118
@prateekbhatt some updates?

[2015-05-04 22:10] Zizzamia commented on #112
@mkaluzny looks this issue was solve long time ago, if is still not please give me some snip of code we can recreate the issue.
ThankYou

[2015-05-04 22:10] #112 closed

[2015-05-04 22:12] Zizzamia commented on #92
Looks this issue it's complete by the new docs, if is still a problem please let me know guys.

[2015-05-04 22:12] #92 closed

[2015-05-04 22:13] Zizzamia commented on #52
Looks this issue it's been solve, if not please @nihao show us some live case to recreate the error. thanks

[2015-05-04 22:13] #52 closed

[2015-05-05 00:45] Zizzamia commented on #131
Tell me if you like it!
http://zizzamia.com/ng-tasty/directive/table-server-side/custom-theme

Btw what is your Twitter account?

[2015-05-05 05:12] tuannnm46 opened #132 "tasty-thead, how to change column title in tasty-thead"
Dear all,

I want to change thead
[start] scope.resource.header = [{"key": "date","name": "Date"},{"key": "id", "name": "ID"}]

And I have function reloadData(), and change header
[end] scope.resource.header = [{"key": "month","name": "Month"},{"key": "id", "name": "ID"}]

I've used bind-reload="reloadData", scope.resource.header have been changed, but on Table view didn' t changed.

Please help m

[2015-05-05 11:29] flaviogranero commented on #131
yes, definitely the bind-theme is more appropriate than having a load-on-init property.
my twitter is @flaviogranero.

[2015-05-07 12:38] dmaf87 opened #133 "data not paginated, filtered, and sorted"
Hi,

I am using http://zizzamia.com/ng-tasty/directive/table-server-side/pagination and filter. The rendered page show all data (not paginated), while input a filter the table also not paginates & filtered, sorting also not working.

Javascript
[code]
html
[code]

Thanks.

[2015-05-07 21:16] Zizzamia commented on #133
The server side table, means the pagination and sorting it's done on server side.
If you want client side pagination/sorting/filtering I suggest to take a look this page
http://zizzamia.com/ng-tasty/directive/table/simple-http
and
http://zizzamia.com/ng-tasty/directive/table/complete

Let me know if does fix the problem.

[2015-05-08 19:27] Zizzamia commented on #132
Hi @tuannnm46,
I think you just discover a bug!
Here https://github.com/Zizzamia/ng-tasty/blob/master/template/table/head.html#L5 as you can read we use bind-once for all the header data.

So I will take care of this and think a possible solution to disable the bind-once in this case!

[2015-05-12 06:28] tuannnm46 commented on #132
Hi @Zizzamia,

I'm a newbie.
Thanks you very much.

Thanks,
Minh Tuan.

[2015-05-19 23:16] tonyhayes opened #134 "Custom Pagination - user defined template issue"
I copied the template/table/pagination.html from ng-tsty-tpls.js and placed in an html file (I un-string-ed it, of course).
I then added template-url to the tasty-pagination directive
 				<div tasty-pagination  template-url="crosscap-angular/promo-manager/offers-list/partials/offerslist-pagination-control.html" bind-items-per-page="itemsPerPage" bind-list-items-per-page="listItemsPerPage"></div>

[2015-05-20 15:53] tonyhayes commented on #134
This is caused by leading whitespace in my template. Closing

[2015-05-20 15:53] #134 closed

[2015-05-21 18:50] Zizzamia commented on #134
Wow that was a fast closing issue :)
Have a great day!

[2015-05-21 20:33] tonyhayes commented on #134
you may want to consider $trim -ing this before passing into the $compile

also as an fyi - I couldn't get the pagination previous and next page to work.
instead of debugging (sorry) I used page.get in it's place;

![image](https://cloud.githubusercontent.com/assets/3122115/7758351/e5174ed4-ffbd-11e4-9f1c-79cd5aa3ed21.png)

[2015-05-25 21:40] dvrakas opened #135 "ng-tasty in dialog"
I have a table in a dialog but get getResource is not a function. It seem if the table is in a dialog then it cant access the scope.

[2015-05-25 23:15] Zizzamia commented on #135
Can you please show me your JS and HTML implementation please.

[2015-05-26 00:36] dvrakas commented on #135
[code]

[2015-05-26 10:29] CronaFront opened #136 "Question : Add a Custom Filter"
Hi,
I would like to know if it's possible to add a custom filter, my needs is to have a "starts with" filter.
I try to add a filter in the ng-repeat, but of course this break pagination.

Thanks a lot. :)

[2015-05-26 21:39] Zizzamia commented on #136
There is not an official way to chain other filter, now it's support only one the "filter".
I will fix this in the new version v0.5.5
ThankYou for the hint.

[2015-05-26 21:53] Zizzamia commented on #135
From the code you share the `$scope.getResource` is not in your `ServiceProCtrl`.
As you said, the `$scope.getResource` just is not present in the `$scope` of your Modal.

[2015-05-27 11:44] gofranshukair opened #137 "Cannot read property 'then' of undefined for the bind-resource-callback"
Hello,
I am trying to replicate the ng-tasty server-side pagination table.
I am getting this error "Cannot read property 'then' of undefined for the bind"
here :
[code]

[2015-05-27 20:37] seminull opened #138 "Client side pagination and itemsPerPage"
I was curious as to why in setRemainingRange and setPreviousRange functions that itemsPerPage were even used at all when it comes to incrementing and decrementing whole 'pages'?  This caused the page.remaning() and page.previous() buttons to not work as expected.

[2015-05-27 22:11] Zizzamia commented on #138
Can you please show me some code where this error happen.

[2015-05-27 22:13] Zizzamia commented on #137
Can you please show me your code that replicate this error.

[2015-05-28 08:10] CronaFront commented on #136
Ok, thanks :)

[2015-05-28 19:30] seminull commented on #138
It took some time to reproduce it from scratch but I found the culprit or at least better information.

[code]

http://www.seminull.com/angular/ngtasty/#/

[2015-05-28 22:34] ddavison732 commented on #138
This problem is not only client side, but also a problem for server side pagination. Basically the code below leads to the page buttons acting like you are at the end of the list of page numbers before you actually are. You can see it [on the project's example site](http://zizzamia.com/ng-tasty/directive/table-server-side/pagination). You can't get 7 to show in the pagination when clicking the nex

[2015-05-29 01:35] seminull commented on #138
@ddavison732 that's slightly different than the problem I'm describing here, but I know what you are referring to.  I have a PR out for it, as soon as I can figure out unit tests in JS. :)

[2015-05-29 15:05] ddavison732 commented on #138
Ok, sorry for the confusion.

[2015-05-31 22:39] Zizzamia commented on #138
The range pagination is not working in a couple of case. I try to use your PR @seminull but is not enough to cover all the two case where there is the errors, and also is not passing the old tests.
I'm going tomorrow try to come out with a more stable fix.
ThankYou both to help me focus on this problem. :)

[2015-06-01 12:12] DominicBoettger opened #140 "Subobjects are not sortable"
It is not possible to sort field which are in a sub JSON - structure.

Example:
[code]

Click on myfield sorts it correctly.
Click on subobject.name only works once.

Best regards
Dominic

[2015-06-03 05:42] Zizzamia commented on #138
So, was not so simple find the time to do this fix,
but in the end by your helps I made the commit that fix this bug.
ThankYou for the help and all the information you share with me.

[2015-06-03 05:42] #138 closed

[2015-06-03 22:44] seminull commented on #138
Thanks @Zizzamia you're awesome!

[2015-06-04 13:58] ddavison732 commented on #138
I haven't downloaded the changes yet but thanks for maintaining this awesome project.

[2015-06-04 18:48] Zizzamia commented on #138
The change will be up on the next release. I'm sorry for the delay but it's been few busy weeks in Twitter.

[2015-06-05 17:41] smargovsky opened #141 "Simple $http - watch collection - and filters"
Using the simple $http example, is it possible to add working filters?

[2015-06-09 13:32] cubasepp opened #142 "Server Side search pagination"
Hi,

for example.
If you stay on page 5 and search for something and the result has only 2 pages you get an empty response from the server. Because the ngTasty doesn't reset the page attribute after  the filter function was called. ( // AngularJs $watch callbacks if ($attrs.bindFilters) {  .. })

Maybe you have to reset the page attribute so you get a result.

http://zizzamia.com/ng-tasty/directiv

[2015-06-11 00:58] ranjithdharmaraj commented on #142
Yes, I have the same issue..I see from the past issues that this was reported earlier but closed as fixed.
Ex: http://zizzamia.com/ng-tasty/directive/table-server-side/complete. Go to page 3 and then enter "wicked" in Filter by name text field.
It does not bring up the one record that exists

[2015-06-11 14:03] berc opened #143 "remaining pages button in pagination"
When I click on remaining-pages-button in your simple table example pagination, it shows me only last page 6 and I am remaining-pages-button button is disabled. But there are 7 pages.

Do you have some explanation for this, or is it a bug?

[2015-06-11 14:43] seminull commented on #143
@berc this will be fixed once #138 is released

[2015-06-13 03:13] Zizzamia commented on #143
Thanks @seminull, sorry for the delay for the new feature. Make sure to have this release on the weekend. I'm changing team on Twitter and I didn't have so much time to work on open source stuff :(
See you soon! Grazie

[2015-06-13 03:13] #143 closed

[2015-06-16 01:09] #132 closed

[2015-06-16 01:41] Zizzamia commented on #138
https://twitter.com/Zizzamia/status/610623132831887360

[2015-06-16 01:41] Zizzamia commented on #132
https://twitter.com/Zizzamia/status/610623132831887360

[2015-06-23 20:20] luigima commented on #142
Don' t know why https://github.com/Zizzamia/ng-tasty/issues/98 should be fixed, I have the same issue with version "0.5.4 - 2015-05-04".

Maybe we should add a "bind-pagination" attribute to the ngTasty directive? We could reset the page manually then.

[2015-06-23 21:50] Zizzamia commented on #142
Please update ng-tasty to the version 0.5.5 and let me know if the error it still present. ThankYou

[2015-06-23 22:23] luigima commented on #142
No, same issue with 0.5.5..

[2015-06-23 23:05] Zizzamia commented on #142
Ou ok! I will fix this for the version 0.5.6

[2015-06-24 08:21] cubasepp commented on #142
You have to reset the page attribute at the URL.
"table.json?sort-by=name&sort-order=dsc&page=3&count=5&name=Wick"

The result have only 1 page but we display Page 3... ;)

Thx Zizzamia

[2015-06-25 22:31] #142 closed

[2015-06-29 20:09] ckreddy08 opened #144 "ng-hide and ng-if"
Hi, how do I hide some columns and show them on click. I tried using "th ng-show="true" tags instead of "tasty thead" but the sort is not working if I do that. Any work around?

Thanks in advance

[2015-06-30 08:19] ramzz commented on #137
Hi,

Any progress on this issue?

I'm getting the same error while executing following piece of code with Angular v1.4.1:

view:
bind-resource-callback="admUsrAccListCtrl.getGridData"

controller:
        this.getGridData = function(params, paramsObj) {
            this.resultPrimise = $http.get('http://my_correct_rest_resource');

            this.resultPrimise.then(function(response) {

[2015-07-01 23:26] Zizzamia commented on #137
Hi @ramzz, as you can read in the documentation you forget to return your `$http` promise.
http://zizzamia.com/ng-tasty/directive/table-server-side/complete

[code]
Please let me know if will work.

[2015-07-02 21:05] Zizzamia commented on #144
A work around could be you make your own custom `thead` for now.

[code]

[code]
And pretty much you are going to make your custom thead, by coping the existing one and add your custom feature.

Is it clear?
I'm going to use this task to make an example in the docs.

[2015-07-06 14:02] macem commented on #140
I created fix for this, please check https://github.com/macem/ng-tasty-fix/commit/13756fc4fb88ca76f61dd849ad41b34053591ae9

[2015-07-06 22:08] Zizzamia commented on #140
ThankYou to help me fix this issue. Can you please add test case for this issue. @macem

[2015-07-06 23:16] Zizzamia commented on #137
Hey @gofranshukair,
probably the reason is not working it's because you should add a `return` on your callback.
Can you please let me know if was that the problem, and maybe show me your implementation.

[2015-07-07 17:59] #136 closed

[2015-07-09 15:07] thesilverbadger commented on #98
I'm not sure that this has been fixed, as we're running into the same issue (using 0.5.5), and I can repro on the [Table with reload callback](http://zizzamia.com/ng-tasty/directive/table-server-side/reload) page.

1. Click Page 5
2. Enter "cup" in filters by name.
3. Click Search.

The params string doesn't reset the page to 0, instead leaves it at
[sort-by=name&sort-order=dsc&page=5&count=5&name

[2015-07-11 18:18] clintonhalpin opened #145 "ng-tasty has wrong entry point in package.json"
If I run ```npm install ng-tasty``` and try to require it with browserify / webpack

[code]

I get an error because the main property in ```package.json``` points to ```index.js``` which doesn't exist. This fixes it.

[code]

[2015-07-12 05:58] Zizzamia commented on #98
Hey @thesilverbadger your problem was fix in the https://github.com/Zizzamia/ng-tasty/issues/142 issue.
And if you update #ngTasty to the version 0.5.6 you will get the fix.
Please let me know if you still have problem.

[2015-07-12 05:59] Zizzamia commented on #142
Just release the version  0.5.6

[2015-07-12 05:59] Zizzamia commented on #136
The solution of this problem it's here in this docs.
http://zizzamia.com/ng-tasty/directive/table/advance-filters

Please let me know if is enough clear.

[2015-07-12 06:04] Zizzamia commented on #145
ThankYou @clintonhalpin, I will fix this issue in the next 0.5.7 version of npm.

[2015-07-12 11:22] CronaFront commented on #136
It's really perfect ! Thanks for the job you made on ng-tasty.
Le 12 juil. 2015 07:59, "Leonardo Zizzamia" <notifications@github.com> a
écrit :

[2015-07-13 00:57] THPubs opened #146 "Gets Cannot read property 'count' of undefined error and tasty isn't working"
Hi, I just setup tasty like this :

html :
[code]
Controller :
[code]
But when running I get an error like this :

    TypeError: Cannot read property 'count' of undefined
        at new <anonymous> (http://localhost:3000/assets/ng-tasty/ng-tasty-tpls-73cda6f8b288cf6343379d357a6d4bcd.js?body=1:116:34)
        at Object.invoke (http://localhost:3000/assets/angular/angular-70d00032fb6170e37ae14f0ef0

[2015-07-13 09:03] thesilverbadger commented on #142
0.5.6 has fixed the issue with the page not resetting on a new search, however the pagination buttons (5, 25, 50, 100 and 1-5 etc) no longer page through the resultset or change the number of returned results when clicked. They only take effect when the search is subsequently manually performed.

Do you want me to raise a new issue for this?

[2015-07-13 15:19] THPubs commented on #146
@Zizzamia What might be causing the issue? Is there any workarounds until you release a fix?

[2015-07-13 18:13] Zizzamia commented on #142
@thesilverbadger yes please, looks a serious to fix a soon as possible.
Can you open a new issue by showing the code that you are using and tell me the action you doing.
Will make my work faster.
#ThankYou

[2015-07-13 18:17] Zizzamia opened #147 "Plunker are not pointing to the right files"
http://plnkr.co/edit/DNJVQXT7NnNk5k1flqQ2?p=preview

[2015-07-13 18:19] Zizzamia commented on #146
Simple mistake, you forget to import `ngTasty` as wrote in the quickstart http://zizzamia.com/ng-tasty/
[code]

[2015-07-13 19:40] thesilverbadger opened #148 "0.5.6 - Paging buttons have stopped working"
0.5.6 has fixed our issue with the page param not being reset to 1 on a search being triggered, however this seems to have introduced a new bug whereby the pagination buttons no longer page through a remote resultset.

I think I've tracked the issue down to `updateServerSideResource`, which fires when the pagination buttons are clicked, but as `initNow` is always false (we don't want the search tr

[2015-07-14 01:41] THPubs commented on #146
@Zizzamia Actually this is the controller code. In the main app.js I have added ngTasty :

    angular.module('shimizuApp', ['ngMaterial', 'templates', 'ngRoute', 'ngResource', 'ngTasty'])

But still its not working :-(

[2015-07-14 08:20] Zizzamia commented on #146
`Unknown provider: $ngTastyProvider <- $ngTasty` looks you don't have ngTasty on your page, can you replicate this error on a Plunker page please.

[2015-07-14 08:33] THPubs commented on #146
@Zizzamia Im really sorry. I just fixed the ngTasty not included problem. I now get a different error. The `Cannot read property 'count' of undefined` error

[2015-07-14 18:54] Zizzamia commented on #146
Can you show me how looks your `response.data` please.

[2015-07-15 01:19] THPubs commented on #146
Sorry im a bit new and might have done something stupid. I checked `response.data` and it gave me `undefined`. Then checked what's inside `response`, it also returned `undefined`

[2015-07-15 01:27] THPubs commented on #146
The url works and I can get the json data. To test I even added the ngTasty sample data url like this `var urlApi = 'http://zizzamia.com/ng-tasty/table.json?' + params;`. Still the same problem.

[2015-07-15 12:39] joadtor opened #149 "'listItemsPerPageShow' doesn't work well inside template HTML"
Hi, I've set the tasty as follows:

**Controller:**
[code]

**HTML (View):**
[code]

**HTML (Template):**
[code]

Resulting just in 2 buttons ( only for  '10' and '20') instead of 4. If I change the value this way: `listItemsPerPage: [5, 10, 20, 100]`, I get 3 buttons ( '5' , '10', '20').

I can fix it forcing ng-repeat to use my own list (`ng-repeat="count in [10,20,50,100]"`), but i guess it's n

[2015-07-15 17:16] Zizzamia commented on #146
The main point, it's have something in your `response.data`, and that it's all up to you and not `ngTasty`.
Please double check you have a correct response.

[2015-07-16 00:51] THPubs commented on #146
Ok I will check thanks!
On 15 Jul 2015 22:46, "Leonardo Zizzamia" <notifications@github.com> wrote:

[2015-07-17 22:45] yagoferrer opened #150 "Responsive columns"
Have you noticed that http://datatables.net/  table it is responsive? When you shrink the page and only one column is shown. Then you get a green plus sign to expand the row below. Take a look, it will be really cool to have this feature.

[2015-07-18 10:22] #146 closed

[2015-07-20 17:01] Tim-The-Woodsman opened #151 "Initialize server side table with reload callback"
I want to have the user to click a search button to filter the table instead of running a query on every keypress and this is working fine. But if I do so, the user has to click the button to populate the table. How can I achieve a pre population with an empty filter value? I can't find an answer from the examples.

Thanks in advance

[2015-07-21 08:18] Tim-The-Woodsman commented on #151
Solved it via ng-model-options and can now delete my filter button
<input type="text" class="form-control" placeholder="Filter by ..." ng-model="filterBy" ng-model-options="{debounce: 400}" />. Would be interesting though how to achive both.

[2015-07-21 12:25] vidvid opened #152 "tasty-head with template-url doesn't work correctly"
When I use template-url inside tasty-head as specified in the examples, the resulting table does not include `<thead>` tag.
I think this is because of this piece of code in table.js:
if (scope.templateUrl) {
        $http.get(scope.templateUrl, { cache: $templateCache })
        .success(function(templateContent) {
          element.replaceWith($compile(templateContent)(scope));
        });

[2015-07-21 17:41] Zizzamia commented on #152
Good to know, I will improve the docs http://zizzamia.com/ng-tasty/directive/table/custom-sorting by adding the `<thead>` tag inside the `text/ng-template`.

[2015-07-23 13:55] InsidersByte opened #153 "paramsObj does not match params"
# paramsObj does not match params

I am using angular resources and it is easier to pass the params object into the get method than build my own search string up. However I noticed that the paramsObj and params do not match. I have attached a screenshot taken today from the demo website.

![paramsobjnotmatchingparams](https://cloud.githubusercontent.com/assets/6938575/8852008/af8bff26-314a-11e5-9d

[2015-07-24 09:17] baijiezi opened #154 "pagination can't show the max page"
Hello:
I return the pagination form the js file like this:
[code]
When I click the remaining button to change pages, it can show page 16, but can't show the page 22.

on the right of the page，it show this info:
Page 1 of 22, of 2158 entries

[2015-07-26 22:06] Zizzamia commented on #137
After almost a month of this issue is open and looks there are not more info about, I will close it. Let me know guys if the problem still exist.

[2015-07-26 22:06] #137 closed

[2015-07-26 22:38] #148 closed

[2015-07-26 22:41] #145 closed

[2015-07-26 22:49] #147 closed

[2015-07-26 23:00] Zizzamia commented on #149
Simple question, how many rows do you have?
If you have `listItemsPerPage: [5, 10, 20, 100]` and 15 rows you just need the 3 buttons ( '5' , '10', '20').
Instead if you have 50 rows you need the fourth one for 100.

[2015-07-26 23:03] Zizzamia commented on #154
I had problem to recreate the bug, can you please show me your implementation.

[2015-07-26 23:06] Zizzamia commented on #153
What value are not matching? And what page are you watching exactly? Thanks

[2015-07-27 02:46] baijiezi commented on #154
angular.module('healthApp')
  .controller('HospitalReport2Ctrl', ['$rootScope', '$scope', '$state', '$http','$filter',
    function ($rootScope, $scope, $state, $http, $filter, $cookieStore) {
      $scope.startDate = new Date(new Date()-1000*60*60*24*2);
      $scope.endDate = new Date(new Date()-1000*60*60*24);
      $scope.templateUrl = 'views/templates/p.html';
      $scope.count = 100;

[2015-07-27 02:46] baijiezi commented on #154
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="caption">HospitalReport2</div>
            </div>
            <div class="panel-body">
                <div tasty-table bind-resource-callback="getResource" bind-init="init" bind-filters="filterBy">
                    <table class="table table-striped table

[2015-07-27 03:06] baijiezi commented on #154
![page1](https://cloud.githubusercontent.com/assets/4739010/8897879/13b777d0-344f-11e5-8650-3244f34c363c.png)

![page2](https://cloud.githubusercontent.com/assets/4739010/8897904/869a59f2-344f-11e5-8edd-057f5db543be.png)

[2015-07-27 03:51] baijiezi commented on #154
The problem has been resolved
by update ng-tasty to v0.5.7.
Thank you.

[2015-07-27 04:25] Zizzamia commented on #154
Yeee :-) :+1:
ThankYou

[2015-07-27 04:25] #154 closed

[2015-07-27 06:52] joadtor commented on #149
Now that you mention it, I just tried with 11 rows. Testing with more values (about 120) leads me to the situation that you've described. It would be interesting to be able to disable that behaviour from the options.

[2015-07-27 10:54] InsidersByte commented on #153
I was looking at http://zizzamia.com/ng-tasty/directive/table-server-side/complete.

I was expecting that when you enter a value for the filter by name and/or a filter by location that these values would appear in the paramsObj.

For example I set filter by name to 'a' and filter by location to 'b'.

The resulting params was
[code]

and the resulting paramsObj was
[code]

I was hoping that paramsO

[2015-07-29 09:19] vidvid opened #155 "Reload serverside rows after deleting a row"
I have a 'delete' icon in each row of my server-side table. I delete the row from database using a http call. Afterwards I need to reload the table. I didn't happen to find any solution for this in the documentation. It seems that bind-reload function is only applicable when working with filters.

[2015-07-29 09:26] patrickchampclos commented on #155
Hi. You can bind your http callback by calling a function that will reload the table manually using bind-reload directive.

[2015-07-29 09:30] vidvid commented on #155
Thanks @patrickchampclos but I've done this and it doesn't work. It's because of the fact that reload function seems to be effective only when filter values have been changed. Am I doing something wrong?

[2015-07-31 08:57] InsidersByte opened #156 "IE 9 Table not loading"
# IE9 Table not load

I am having an compatibility issue with IE9. If I navigate to your demo http://zizzamia.com/ng-tasty/directive/table-server-side/complete, then I am presented with the error below.

![ie9 issue](https://cloud.githubusercontent.com/assets/6938575/9003973/54b9de3a-376a-11e5-89c5-7d035dbe5aa5.png)

[2015-08-06 06:38] Zizzamia commented on #153
ThankYou @InsidersByte to reporting this important bug, I'm releasing right now a new version of #ngTasty with this fix. Please let me know if there are other issue with #ngTasty :-)

[2015-08-06 06:38] #153 closed

[2015-08-06 12:20] patrickchampclos commented on #140
Here is a plunker to illustrate this issue with your website exemple: http://plnkr.co/edit/pLSwYOmUgttgy3MWWMEZ

I just relocate "star" and "sf-Location" keys in a metadata object and I link "metadata.star" and "metadata.sf-Location" in headers key.

[2015-08-06 19:10] Zizzamia commented on #140
@macem can you make a PR with test please.

[2015-08-11 10:17] thesilverbadger commented on #148
Looks fixed to me, many thanks :)

[2015-08-12 00:03] Zizzamia commented on #148
:) thankYou

[2015-08-12 13:40] InsidersByte commented on #153
Thank you for fixing this so quickly :+1:

[2015-08-15 04:27] duongtdvn opened #157 "Filter delay?"
I have used ng-tasty for a while and it quite smooth, and I have suggest on the filter directive. It should have some delay before firing action, currently when i type something in the input filter it trigger every word, and it may cause the result not filtered, displayed correctly especially filtering with server side. For example in your demo site:

![Image of example]
(http://i.imgur.com/kr0RKS

[2015-08-15 04:33] Zizzamia commented on #157
I think it's already possible doing with the current #ngTasty, but I will give a look and make a doc to explaing how do it.

Thanks to open this issue.

[2015-08-15 04:47] duongtdvn commented on #157
Hi,
Can you please refer me to any params or bind- to use the delay?

Thank you for quick response!

[2015-08-15 04:55] vidvid commented on #157
@duongtdvn have you tried using ng-model-options on your filter input component?
I'm using this feature now and I have no problem with it. Here is the code I'm using:
`<input type="text" ng-model="filters.search" ng-model-options="{debounce: 1000}">`

[2015-08-15 05:00] duongtdvn commented on #157
@vidvid yea, I have tried with that option but seem to not working, the filter action is not firing anymore, actually nothing happen when i type in the input field.

[2015-08-15 05:06] vidvid commented on #157
@duongtdvn can you provide a jsFiddle? As I said I am using this and it's working perfectly. One issue I have seen is that sometimes when I give the filters object a name other than 'filters' it doesn't work. It might be my mistake but you can try this too.

[2015-08-15 05:08] duongtdvn commented on #157
Ah okay, never mind, I made it work, just removed the $scope.filters by accident, things got solved now!

Thank you guys!

[2015-08-15 05:08] #157 closed

[2015-08-15 05:40] Zizzamia commented on #157
Nice! Thanks @vidvid for the help.

[2015-08-16 03:45] duongtdvn opened #158 "Custom filter params"
Hi guys,

Is there any way to use the custom params for filter. For example, my backend allow params like this:
<pre>
http://domain.com/shop/products?search=name:tasty t-shirt;
</pre>
or
<pre>
http://domain.com/shop/products?search=tasty t-shirt&fields=name;
</pre>
those are same as the current ng-tasty filter:
<pre>
http://domain.com/shop/products?name=tasty t-shirt;
</pre>

Thank you!

[2015-08-16 16:01] Zizzamia commented on #158
Why you have space on the url?

[2015-08-16 17:26] duongtdvn commented on #158
Yep, it's name of the product I want to search and well, it will be encoded by the browser, some thing like:
<pre>
http://www.domain.com/shop/products?search=tasty%2520t-shirt&fields=name%3b
</pre>

I just want to make it more readable xD.

[2015-08-27 15:52] ddavison732 opened #159 "ParamsObj causing circular object JSON error"
No problems with 0.5.5, but if I jump to 0.5.8, I get this error
`TypeError: Converting circular structure to JSON`

It seems paramsObj is now giving an object with a circular structure where it was not before. It is including my filters object in it automatically now, breaking things.

[2015-08-27 16:17] ddavison732 commented on #159
I could change a whole bunch of code in order to support the change but please update changelog to reflect this breaking change.

[2015-08-31 14:44] brunoaduarte opened #160 "Reload table on specific page"
Hello, i'm using the server side table:

[code]

How do i reload the table to a specific page after removing some item at that page (eg. page 5) ?
Here's how i reload the table:

[code]

but it always goes to page 1.

i've tried setting $scope.init.page to the last page number before changing the `filterBy.changeDetector`, but nothing happened.

Thanks !

[2015-09-02 09:24] InsidersByte commented on #156
@Zizzamia is there any progress on this issue?

[2015-09-03 01:56] Zizzamia commented on #159
ThankYou for the hands up, the `paramsObj ` missed `filters object` and was causing problem for the server-side version.
Do you want update the CHANGELOG please?

[2015-09-03 02:00] Zizzamia commented on #156
I need find a way to test it on IE9 :/
Anyone has IE9 and can fix that is welcome.

[2015-09-03 09:32] InsidersByte commented on #156
I could encounter the error both with IE9 itself and also with IE11 in compatibility mode. Is this sufficient?

[2015-09-04 19:21] spietrek opened #161 "Center column headings"
Is there a way to center specified column headings?

[2015-09-04 20:19] spietrek commented on #161
Never mind, figured it out.

'header': [
                        {
                            key: 'Title',
                            name: 'Project Title'
                        },
                        {
                            key: 'Status',
                            name: 'Status',
                            style: {'text-align': 'center'}
                        },

[2015-09-04 20:19] #161 closed

[2015-09-07 08:22] sandeepan opened #162 "Trigger search api trigger only when the query has more than N characters"
Just wanted to know if there's any in built option for this. I am thinking of quick workaround in getResource function to check for query length.

[2015-09-07 09:18] Zizzamia commented on #162
No really, sorry! But please share your version, I could use it to improve the documentation as possible custom solution.

[2015-09-07 09:45] InsidersByte commented on #156
I have forked this in an attempt to fix it. However I am struggling to get the demo site running. However I am getting a failed to instantiate module myApp due to (if you dig a little deeper) Module 'ngTasty.tpls.table.head' is not available!

I have checked through the dist folder and the ngTasty.tpls.table.head is marked as a dependency, but is never created anywhere. The same goes for ngTasty.t

[2015-09-07 09:49] sandeepan commented on #162
I needed to finish it quickly. So just did the following

[code]
Just started with angular and js both. So don't really know how to write a directive or make changes to ng-tasty code.

[2015-09-07 09:51] #162 closed

[2015-09-08 19:57] thiagofmam commented on #160
I got the same bug. Do you have any fix?

[2015-09-08 20:16] Zizzamia commented on #160
So, usually the page return to 1 when a filter is applied to the table, because by filtering something you will probably have less or more stuff to show. As default will always go back to 1.

What you instead guys want, is keeping the same page or the last possible available if the you filter the table in some way.

Am I understood correctly? Because if is like that, we need make some sort of API

[2015-09-08 20:43] thiagofmam commented on #160
I'd like use the last params used at the getResource and stay on the page what register was edited. Sorry my english.

[2015-09-10 04:43] firecentaur opened #163 "How can I cause the table to refresh programatically?"
Hi there,

My bind-resource-callback is set to a function makes a request to my server to retrieve the table data.
Before I send the request though, I also send the values of 3 check boxes in my user interface.

I am now trying to trigger a table refresh when these checkboxes are checked/unchecked in my user interface.

I am stuck however, because I see that the bind-resource-callback function nee

[2015-09-10 05:55] firecentaur commented on #163
Ah!  I figured it out!  using the bind-reload!

[2015-09-10 05:55] #163 closed

[2015-09-10 14:44] thiagofmam commented on #160
Could I change the params used at getResource or reload the table without change the filterBy?

[2015-09-10 21:40] Zizzamia commented on #163
Awesome!

[2015-09-11 14:40] ddavison732 commented on #159
Opened pull request for CHANGELOG update. [Pull Request](https://github.com/Zizzamia/ng-tasty/pull/164)

[2015-09-11 18:30] Zizzamia commented on #159
That's awesome! ThankYou so much

[2015-09-11 18:30] #159 closed

[2015-09-11 21:36] thiagofmam commented on #160
I created two property and update the method. Now it work. I need add to filterBy the params: page and reloadTable;

Code:

 updateServerSideResource = function (updateFrom, newValue, oldValue) {
      if (updateFrom === 'filters') {
          var resetPage = false;
          var hasBreak = false;
          var hasNewproperty = true;
          if (newValue.page) {
              for (var oldpropert

[2015-09-12 07:05] vidvid commented on #160
@Zizzamia Yes that's exactly what I need. As another example suppose that there is a refresh button on top of table which reloads the table using the same parameters.

[2015-09-12 07:07] vidvid commented on #114
@Zizzamia can you tell me how to see this working in the current version?

[2015-09-17 15:17] Murali1689 commented on #156
Any updates on IE9 compatibility Issue?

[2015-09-18 18:53] fabm22 commented on #54
Hi I really need that feature... using the debounce service from ngTasty with the the "getRessource" callback on server side ngTable doesn't seem to work... Do you know how i could do it ?

[2015-09-23 14:56] vniko opened #166 "Question about bind-resource-callback"
I'm sorry for a stupid question. I'm a real newbie  to angular
.
I'm trying to setup a server side table
using "bind-resource-callback"  from your example
[code]
But inside this function i need a reference to the table dom element (actually only "data-*" attributes),
Is that possible?
Thank you!

[2015-09-24 21:14] firecentaur opened #167 "I put a tasty table inside of a tabset tab - does not load"
Hi there,

Is there anything special I need to do when putting a tasty table inside of a <tabaset><tab></tab></tabset>

My table is not loading...

[2015-09-25 12:55] cianc2007 opened #168 "Bug in 'bindTo' factory"
Hey just trying to debug why server side binding would not work and noticed this bug

 parentSet = parentGet.assign || function() {
      // reset the change, or we will throw this exception on every $digest
      lastValue = scope[scopeName] = parentGet(scopeName);
      throw 'Expression ' + attrs[attrName] + ' is non-assignable!';
    };
attrName is not defined - the real error is being swallow

[2015-10-02 04:12] firecentaur opened #169 "how can I pass a variable to the resource-callback"
How could I pass a variable to bind-resource-callback="getPerms"
I need to do this because I have tasty tables in an ng-repeat..
please let me know

[2015-10-07 12:49] shyamprasathbrigita commented on #114
I am also trying to reload the table using bind-reload without using filter option. But callback is not triggered. I think still there is a bug. I keep nothing in filter object.

$scope.filterBy = {};

[2015-10-08 01:07] firecentaur commented on #169
hi there, i found a way around this.. However, I am still having troubles getting ngTasty tables to work inside of directives

[2015-10-08 01:14] firecentaur opened #170 "hi there, I am using ngTasty in a directive, but complains that $scope.init is undefined #question"
hi there, I am using ngTasty in a directive,
 but the code is complaining that  that $scope.init is undefined even though I have defined it:

Here is the directive gist: https://gist.github.com/anonymous/d2e7302cf4de0dd0d622
and here is the html that lists the directive:
https://gist.github.com/anonymous/d9c2cf0df69a89c1a932

[2015-10-09 21:53] fabm22 opened #171 "tests don't work"
Hi I'd like to PR you a little modification letting debounce callback when typing in filters, but after cloning the repo and trying reinstall several times I cant manage to run the karma tests.
 I'd like to run them to check I didn't break anything :)

Is it known?

[2015-10-10 21:35] fabm22 commented on #171
@Zizzamia

[2015-10-12 22:09] Zizzamia commented on #171
Can you give me more details how you make run the tests and what error you get?

[2015-10-12 22:12] Zizzamia commented on #170
I'm a little bit lost, can I see your template
`folder/templates/folderVideoListDirective.html`

[2015-10-12 22:14] Zizzamia commented on #169
A tasty table inside an `ng-repeat`, mmmm let me think....
`ng-repeat` is going to create a new `$scope`, so it's important pass the right `$scope` to `ng-tasty`...
can you show me please a gist of your code please.

[2015-10-12 22:17] Zizzamia commented on #114
Here is the working example http://zizzamia.com/ng-tasty/directive/table-server-side/reload,
@shyamprasathbrigita can you please show me an example of the code you are trying to run please.

[2015-10-12 22:18] Zizzamia commented on #168
Thanks for report this bug, I will take a look.

[2015-10-12 22:19] Zizzamia commented on #167
Can you show me some code to better understand your case please.

[2015-10-12 22:20] Zizzamia commented on #166
What you are trying to achieve?

[2015-10-13 04:52] shyamprasathbrigita commented on #114
hi Zizzamia , thank you for your response. Here is my code

JS code:

     // Init the datatable for product

        $scope.init = {
          'count': 5,
          'page': 1,
          'sortBy': 'name',
          'sortOrder': 'dsc'
        };

        $scope.reloadCallback = function () {};

        $scope.filterBy = {};

        $scope.search = function () {

                $scope.reloadCallba

[2015-10-14 17:37] spietrek opened #172 "Filter only on certain fields in table?"
I have a table which has Project Title, Status, Modified, Created By, and ID.

I would like to only filter the table on Project Title, Created By, and ID. Is it possible to do this? I looked at bind-filters-comparator example and vm.filtersComparator (actual) has all fields and I can't determine how to determine what should be used in actual.

vm.filtersComparator = function (actual, expected) {

[2015-10-20 19:45] javi-more-garc commented on #98
Hi there,

I think the issue may still be present in the latest version 0.5.8.

We can test it this way:

1) Navigate to http://zizzamia.com/ng-tasty/directive/table-server-side/complete
2) Clear the "r" from the filters (by name)
3) Click on page number 5
4) Introduce "cup" in the filters (by name)

There is a result but it is not shown (I am attaching a snapshot of the problem). If we click on t

[2015-10-21 15:37] Skizito opened #173 "Websocket and cookies"
Hi, is there a way to when I create a new websocket, send the cookie in the header along with the url?

Thank you.

[2015-10-21 16:12] sali1982 opened #174 "multipe tables - dynamic tables"
Hi,

I am going to try and make dynamic tables. I wonder if it is possible at all?

What I need to do is based on what user clicks, I want to open a new table in a accordion panel.
Each table must have its own data and its own sources , and its own pagination.

Do you know how the pagination will understand it is for which table on the same controller?

Thanks for your response.

[2015-10-21 21:11] Zizzamia commented on #98
Hi @javi-more-garc thanks to report the bug,
the docs were not update with the latest version on ngTasty,
http://zizzamia.com/ng-tasty/directive/table-server-side/complete

Just fix that :-)

[2015-10-21 21:38] Zizzamia commented on #173
@proudlygeek thoughts about i?

[2015-10-21 21:39] Zizzamia commented on #174
Any table is independent to each other, I will say... start writing some code and I will help you complete if you have some issue.

[2015-10-22 14:36] sali1982 commented on #174
Thanks.

Okay, I am doing it like a dynamic table. When we click on a link, it will get new data and creates a table in a separate Accordion:
<uib-accordion close-others="onAtATime">
            <uib-accordion-group ng-repeat="group in groups" >
               <uib-accordion-heading>
                 {{group.title}}
               </uib-accordion-heading>
            {{group.content}}

[2015-10-22 14:39] sali1982 commented on #174
This is strange that I cannot post html here. I did put an space for html tags. there must be an easy way!

[2015-10-26 18:40] Zizzamia commented on #174
I think the best thing is you create a Plunker, so I can code there and help you for your problem.
http://plnkr.co/edit/DNJVQXT7NnNk5k1flqQ2?p=preview

[2015-10-26 19:18] sali1982 commented on #174
I did fix it. Thanks. It was easy to do. group.getFiles was working as the function in the array of objects.

[2015-10-26 19:21] sali1982 opened #175 "running a function before sorting, paging..."
I have a question for you.

I am having a serverside table. I want to give a warning to user, before the action of sorting happens, that he is using some unsaved changes. If he says proceed, I will do the sort, if not, I won't do it.

Is there any function I can bind to the table to triggers before each action, like sorting, paging so if it is confirmed by user continues the action?

[2015-10-28 01:47] javi-more-garc commented on #98
Hi,

thank you for your response.

My implementation does not rely on a front-end filter but rather performs a search and the server returns all results sorted/ filtered.

The behavior is analogous: say I search and get 15 results. I click on the second page and search again using a more restrictive filter. The server returns 6 results this time but there are no rows shown even when I can see ther

[2015-10-29 00:07] kevinlbatchelor opened #176 "Table function runs twice when it is in an Angular-Material mdTab directive"
I'm using angular-material, and ngTasty and I cannot figure out why the tasty table is running twice when it is added inside one of the angulars md-tab directive. Something either in material or tasty. Of course my table function is making a rest call which is now firing twice.

http://jsfiddle.net/s46gs95e/

[2015-10-29 20:04] Zizzamia commented on #174
Nice!

[2015-10-29 20:04] #174 closed

[2015-10-29 20:16] Zizzamia commented on #175
On the Table Server Side, you usually assign a callback to call anytime something change like sorting, pagination or filters.

This function as we now from the documentation should look like this one.
[code]

You want control the exact moment `$http.get` it's trigged.
[code]

Not sure will work, but the idea is to return a Promise with your custom implementation.
I'm going to make documentation ab

[2015-11-04 09:23] Aryan97 opened #177 "Pagination not working properly after refreshing."
HI, im using server side pagination.
here is my  code:
[code]

every thing works fine...but after refreshing or reloading my page, the pagination not working properly. Only the first page data displaying for all pages.
Pls provide a solution
Thanks in advance.

[2015-11-05 06:13] Aryan97 opened #178 "pagination and filtering not working properly."
Hi im using v 0.5.3.
 The pagination and filtering working properly at first, but after filtering if i refresh or reload the page pagination not working properly and for every  page i click only the first page data getting displayed. And also if i choose any filter from drop down menu which i've in my project, the filter is applying automatically before i click search button.
Pls provide a solutio

[2015-11-09 09:12] epetitje opened #179 "bug with headers"
Hello,

I'm using ng-Tasty to dynamically display data on a page (using bind-resource-callback and bind-reload).
everything works fine until I try in my bind-resource callback to return a table different than the one already displayed (different number of colons).

The data is displayed correctly but the headers are not refreshed properly...
is there a way to reinitialize a tasty-table so everythi

[2015-11-09 15:08] Skizito commented on #173
Any updates?

[2015-11-11 17:43] Zizzamia commented on #98
@javi-more-garc can you please open a new issue about this error. :-)
Thanks

[2015-11-11 20:02] Zizzamia commented on #176
For a reason I don't understand yet, when `ngTable` was contained inside the Material Tab, the 'params' was detected change after the initialization, and was again calling the `xhr`.
I fixed by making sure that `ngTable` will run max one `xhr` at a time.

[2015-11-11 20:02] #176 closed

[2015-11-12 18:12] amirafroozeh1 commented on #114
I have the same problem. When I want to delete a row and I call manually reloadCallBack, it does not refresh the table.

[2015-11-12 18:33] Zizzamia commented on #177
It's a very complex situation, If I was in you I will debug the code inside `getResource` by make it very very simple in the beggining, and add complexity step by step and seeing where is broke.

[2015-11-12 18:34] Zizzamia commented on #178
Can you please use the latest version `0.5.8` and see if the error it still there.

[2015-11-12 18:36] Zizzamia commented on #179
I see, you try to use the same `HTML` but with different data.
Can you paste me some code to recreate the bug please.

[2015-11-12 18:41] Zizzamia commented on #114
I guys, can you make a new issue about this. I will take a look of that. :)

[2015-11-12 18:53] amirafroozeh1 opened #180 "Reload rows after deleting a row"
Can you provide a sample example that shows a table with delete button for each row. Then, you can delete a row and have an updated table with true pagination.

[2015-11-12 21:13] sali1982 opened #181 "reloadCallback"
Hi,

Thanks for this great component.

I have an issue. `bind-reload="reloadCallback"` works fine when I have one table.

I use a method for dynamicly adding tables to the page.
So I push an object with functions and attributes.

Everything is fine, except the reload one.

Example:
[code]

And xxes is:
[code]
All of these are like:
[code]
They are pushed to xxes
[code]
So everything is fine I have

[2015-11-12 23:24] sali1982 opened #182 "client side table shows after manually sort a column"
Do you have any idea why the client side table, loads with the manual data. User need to click the sorting to see the data?
I use Promise.

[2015-11-12 23:32] sali1982 opened #183 "Change page number from JS"
This is a Question:
Is there any way to change the page number for a table from javascript?

[2015-11-13 06:21] Aryan97 commented on #177
thanx for your suggestion..i will try to debug.

[2015-11-13 06:21] #177 closed

[2015-11-13 15:09] dangergeowolf opened #184 "Sorting on numbers and dates not correctly ordered"
Hi, I'm hoping there's a solution to this or I've missed something.  I'm loading all the data to the client side to paginate through.  When I sort by a string based column it works as in alphabetical order as expected.  However, when I try and sort a numerical column of floating point data the order comes out incorrect.  Also, I have data formatted as a date however it also is not sorting correctl

[2015-11-13 16:49] dangergeowolf commented on #184
Okay, so I've had a go at recreating the problem on Plunkr.  I think it's a misunderstanding about how your header ties to the row data.  Anyway, I'm dealing a more complex data structure that is maybe causing the issue.  I've created a plunkr to try and demonstrate the scenario, although this version will not sort on the floating point based column period..

http://plnkr.co/edit/TvJWuTLYeqjwe5ECr

[2015-11-13 19:34] Zizzamia commented on #181
I will make a documentation page to show how do it, and if does not work I will fix it :-)

[2015-11-13 19:36] Zizzamia commented on #182
Because you get date after the first `$digest` loop, the table for performance optimization does not let other data come in.
If you want make it work, I explain it in this page http://zizzamia.com/ng-tasty/directive/table/simple-http,
and you just need add `watch-resource="collection"`.

Let me know if does work.

Have a great weekend.

[2015-11-13 19:42] Zizzamia commented on #183
Not really sure there is an official way to do it, let me make a documentation page about it.
Thanks for the idea.

[2015-11-13 19:48] Zizzamia commented on #184
Hi @dangergeowolf
So you want sorted by a key name `"float.value"`, that's pretty interesting, I think I never did that before.
I usually make a flat array after I get the data from back-end.

I believe it's an important improvement `ngTasty` should have, I will make it happen. Thanks

[2015-11-14 09:39] dangergeowolf commented on #184
Thanks.

Sent from my iPhone

[2015-11-19 09:58] RahmanM opened #185 "using ngTasty in ControllerAs syntax?"
Hi There,
I would like to use the grid without using the $scope inside my controller. Particularly, that I am using typescript and I would like to avoid mixing scope inside the controllers. Can I use controllerAs syntax to set the ngTasy resource. I would like to be able to use something like:

 var resource = {
                header: [],
                rows: thisController.Contacts; // Where th

[2015-11-23 19:01] aparolini opened #186 "List refresh"
Hello,

I have a changing list on the server.

I want my table to auto-load the list when the pages loads, thus I used _bind-resource-callback_. Then I want to be able to refresh my list by hand, thus I used _bind-reload_.

First bug: When I use _bind-reload_, the list is empty when the table appears the fist time. I have to click the button to invoke the reloadCallback. I want the list to be load

[2015-11-24 15:42] dangergeowolf commented on #114
Hi, has there been any resolution to this?  I'm also having problems in getting a reload callback when changing the filter value.

[2015-11-24 16:57] dangergeowolf opened #187 "filtering bind-reload not involking a call to getResource"
HI, I'm moving a prototype application from using all data on client side to server side pagination.  Pagination steps such as selecting a different page, etc, result in the url with the correct params being called as expected.  However, when I use filtering the getResource call is not made.  If I add in my filter param and then change the page, I can then see the filter param being added to the p

[2015-11-25 15:50] p1lare commented on #150
@yagoferrer @Zizzamia Actually I was able to use angular-responsive-tables directive with ngTasty to get key value display on small devices, only one thing I had to do is to add additional TH from that tasty-head which is hidden in table wiew. I'm trying to work with custom column names and count depending on dataset and I have table working okay when passing different haeder values from header, b

[2015-12-11 01:27] yywmrz commented on #160
Where i can find the version 0.5.9 ?I just encounter the same problem

[2015-12-11 01:35] yywmrz commented on #160
i am a new guy who use github . i can't understand the content verywell cause English is not my mother language . Sorry

[2015-12-14 11:47] vidvid commented on #155
@Zizzamia I think this is related to #114
I suggest we close that one as you mentioned and mark this as a bug.
We've been waiting for this issue a long time and I hope we can have this done soon.

[2015-12-14 12:20] vidvid opened #188 "separate items-per-page component from pagination"
I want to put the list of items-per-page on top of the table and the rest of pagination (list of pages, etc.) at below the table.
What I'm doing now is having 2 templates for the pagination, one containing only items-per-page and the other containing pages list. But this causes some bugs in the table especially in client side mode.
Is there any good way to do this?
This is a sample:
![pagination](

[2015-12-14 21:16] Zizzamia commented on #160
I create a new option name `filterBase` inside the init object, for use it you just need do this
[code]

if you set `filterBase` to `false` you will disable the auto reset to a specific page, and will be showed the old one or the last possible useful one.

Happy Holidays, and many thanks to push it hard on this. 😄
✨✨✨

[2015-12-14 21:16] #160 closed

[2015-12-14 21:19] smargovsky commented on #160
:+1:

[2015-12-14 21:22] #141 closed

[2015-12-14 21:42] Zizzamia opened #189 "ngtasty build in ES6 and webpack"

[2015-12-14 21:47] Zizzamia commented on #160
Also just release on bower the version `0.5.9` with this fix in it!

[2015-12-14 21:47] Zizzamia commented on #176
Also just release on bower the version `0.5.9` with this fix in it!

[2015-12-14 21:47] Zizzamia commented on #159
Also just release on bower the version `0.5.9` with this fix in it!

[2015-12-14 21:48] Zizzamia commented on #141
😄 thanks for closing it

[2015-12-14 22:09] thiagofmam commented on #160
Thank you so much!

Happy Holidays!

[2015-12-15 10:32] chrisvel opened #190 "Setting custom pagination template in Angular templates folder"
Is there any way we could do this? The only thing I see to setup a custom .html file is setting the template with inline `<script>` tag which seems bad.. I would like to have a pagination.html file inside my Angular's templates folder (I am working in Rails fyi). Is that possible ?

[2015-12-15 19:04] Zizzamia commented on #190
Did you read this http://zizzamia.com/ng-tasty/directive/table/custom-pagination `bind-template-url` ?

[2015-12-15 20:13] chrisvel commented on #190
Obviously yes. Did I miss something ?

[2015-12-15 21:49] Zizzamia commented on #190
You can set a custom template by using `bind-template-url` or `template-url` attribute.

[2015-12-16 05:15] chrisvel commented on #190
Sorry, I am not sure you understand. In your example you have inline `<script></scvript>` code to set the template's url, by setting the id of the script as the `template-url`. I want to set the template as a file in the root of my project's folder, which is not happening. For example, there is an `angular-app` folder tree, with controllers, filters, directives and a `templates` folder with all my

[2015-12-16 07:36] vidvid commented on #190
@chrisvel
I am using this feature and it works well. Here is the code piece I use:

    <div tasty-pagination template-url="/assets/partials/table/pagination.html"></div>

Maybe you should recheck your url.

[2015-12-16 14:14] sraju1397 commented on #166
How to assign ajax response to bind-resource ...........
Its giving error to me

[2015-12-16 19:27] Zizzamia commented on #190
Thanks @vidvid :+1:

[2015-12-16 19:29] #190 closed

[2015-12-16 19:34] Zizzamia commented on #166
Still not understanding what's going on :-(

[2015-12-23 18:20] sali1982 opened #192 "sorting a client side table - case snsetive"
I want to sort alphabetically not considering if it is capital or not.
How I can do it with ng-tasty?

[2015-12-25 02:25] Zizzamia commented on #185
Honestly not a big fun of `ControllerAs` and I never use it before. Sorry!

[2015-12-25 02:32] Zizzamia commented on #186
Ciao @aparolini,
the `bind-reload` functionality give to you the power to load the table when you want.
Here the official docs http://zizzamia.com/ng-tasty/directive/table-server-side/reload
as you can see you create a `$scope.reloadCallback = function () {};`
and you can just call that function when you load your page.
I hope can help!

About the second question, looks like a real bug, and I'm go

[2015-12-25 03:55] Zizzamia commented on #186
Also I discover an other bug, to recreate we need change the page and after try to filter the table.
Will happened that the manul `bind-reload` will not work properly.

[2015-12-25 04:44] #186 closed

[2015-12-25 20:18] Zizzamia commented on #192
Angularjs orders it alphabetically case-insensitive. In JavaScript string comparison is case-sensitive.
Can you show me a case where is not working please.

[2015-12-25 20:42] Zizzamia commented on #155
I'm still sure it's a not a real bug.
I'm here http://zizzamia.com/ng-tasty/directive/table-server-side/reload and anytime I click search
will be fired a xhr request to the server.

Also in local I tried to give different backend response any time I click search, and the table it's been modified correctly.

Do you have some code I can use to replicate this bug?
Thanks!

[2015-12-25 20:47] Zizzamia commented on #187
`bind-reload` is a tool to manually reload the table from backend
http://zizzamia.com/ng-tasty/directive/table-server-side/reload

If instead you want everything happening automatically I suggest to use this version
http://zizzamia.com/ng-tasty/directive/table-server-side/complete

Please if something is not working correctly try to show the code you are using.
Thanks

[2015-12-25 21:21] sali1982 commented on #192
Sorry, That was my mistake. I should have closed this. It was sorting on something! I do not know on what...  issue was the header name was spelled wrong. It was sorting weirdly. I thought that is case  sensitive! :)

[2015-12-25 22:34] Zizzamia commented on #192
Ok nice!!! Merry Christmas 🎄✨

[2015-12-25 22:34] #192 closed

[2015-12-26 06:54] vidvid commented on #155
Here is my controller code (coffeescrpit):

    constructor: ($scope, $rootScope, $log, $filter, NotificationsAdminService, $state, $modal, tableConfig) ->
    $log.debug("creating NotificationsAdminCtrl")
    tableConfig.loadOnInit = true
    $scope.loadingData = true;
    $scope.totalNotificationsCount = 0;

    $scope.initTable =
      'count': $scope.rowCount
      'page': 1
      'sortBy': 'd

[2015-12-26 21:40] violetlight commented on #170
I am having the same issue. Trying to use ngTasty in a directive and it complains that $scope.init is undefined. Were you ever able to figure this out, firecentaur?

[2015-12-27 03:27] Zizzamia commented on #155
Your `reloadCallback` should be called after you invoke the reload function.
What response you get in `ret = result.then((response) ->` after you invoke the reload function?

And you still say that is broke after you delete a row, right? only in that case is not working?!

[2015-12-27 03:28] Zizzamia commented on #170
Can you please show me the code you are using it.

[2015-12-27 03:33] Zizzamia commented on #150
Can I help in some way?

[2015-12-27 04:02] Zizzamia opened #193 "Sortable can be defined where the columns are defined"
I got an amazing PR from @timaebi
https://github.com/Zizzamia/ng-tasty/pull/191

[2015-12-27 04:03] Zizzamia commented on #193
Need add some test before complete this issue!

[2015-12-27 04:16] violetlight commented on #170
Hey, Zizzamia. Thanks for the quick reply.

I needed server side pagination and I ended up going with another solution (ui-grid). Unfortunately, I rolled back the commits that contained the code I was using while experimenting with ng-tasty.

I realize how obnoxious it is that I can't supply the code anymore, because we are unable to completely rule out any superficial errors like syntax, improper

[2015-12-27 04:48] Zizzamia commented on #170
Happy to hear in the end you find a way to solve your problem :-) `ui-grid` it's a great choice.

If you can recreate the bug, will be amazing for all the #ngTasty community :-)
Thanks

[2015-12-27 05:22] #193 closed

[2015-12-27 05:49] Zizzamia commented on #120
Not sure to understand how this should work, can you give me an example! So sorry for this late reply :P

[2015-12-27 06:00] Zizzamia commented on #144
There was not update of this issue for few months, I'm going to close it! Thanks

[2015-12-27 06:00] #144 closed

[2015-12-27 06:06] Zizzamia commented on #186
Your fix it's in the latest release https://github.com/Zizzamia/ng-tasty/releases/tag/v0.6.0

[2015-12-27 06:07] Zizzamia commented on #193
Your awesome feature it's in the latest release https://github.com/Zizzamia/ng-tasty/releases/tag/v0.6.0

[2015-12-27 12:09] codenamerana commented on #186
Can you please tell exactly how to solve Bug1 of @aparolini .

I wrote this to initialize the table of page load.

`<div ng-init='reloadCallBack()'></div>`

But sadly this is not working :(

[2015-12-28 07:55] vidvid commented on #155
@Zizzamia  what do you mean by invoking the reload function. If you mean the method declared as bind-resource-callback (in my case loadNotifications) I don't call it manually. And If you mean the 'search' method, yes I call it when I click the button but nothing happens. my reloadCallback is called and then nothing.

[2015-12-28 07:56] sharok opened #195 "Resize columns"
I think this control doesn't have one important feature. It's a resize columns.

[2015-12-29 07:30] Zizzamia opened #196 "cleanFieldName breaks when there are no header value"

[2015-12-29 08:17] sharok opened #197 "Page number is incorrect"
I have code:
[code]

I use filter also. When I have rows which mathces with filter then all works fine, but when there are no rows I have double requests. The first the request is when I change filter and I get response with empty rows and other params. It's ok. But after I have another request with page=0. And, I don't know why and this breaks my server code.
My code works fine on 0.5.8 version,

[2015-12-29 08:23] sharok commented on #197
Some details. In the  console I have error:

But response is the same when it have data:
![image](https://cloud.githubusercontent.com/assets/10895393/12031558/9210f220-ae37-11e5-8fe3-06cc4165ca50.png)

After error I have second request with page = 0 (as I wrote in the first post)

[2015-12-29 21:07] #196 closed

[2015-12-29 22:49] Zizzamia commented on #180
Here the documentation about delete row and manually reload the table
http://zizzamia.com/ng-tasty/directive/table-server-side/reload

[2015-12-29 22:49] #180 closed

[2015-12-29 22:56] Zizzamia commented on #155
Here a demo of what you are looking for http://zizzamia.com/ng-tasty/directive/table-server-side/reload
Please let me know if there still bug about this topic.

This demo use `ngTasty v0.6.0`

[2015-12-29 22:58] Zizzamia commented on #181
Here a demo that could help you understand how make your code
http://zizzamia.com/ng-tasty/directive/table-server-side/reload

This demo use `ngTasty v0.6.0` let me know if there is something is not working.
Thanks

[2015-12-29 22:59] Zizzamia commented on #187
Here a working demo about your case http://zizzamia.com/ng-tasty/directive/table-server-side/reload

I use `ngTasty v0.6.0` please let me know if you still have problem about it.

[2015-12-30 02:35] Zizzamia commented on #179
Sorry was not a bug, but just a native feature of ngTasty.
As default all the header it's build by using `bind-once`, to disable that you can check on this page
http://zizzamia.com/ng-tasty/directive/table-server-side/complete `bind-theme` and how switch `bindOnce: true` to `bindOnce: false`.

[2015-12-30 02:35] #179 closed

[2015-12-30 02:42] Zizzamia commented on #186
Bug1 was not a bug at all, it's just the way the table works, `bind-reload` gives to you the power to load when you want.

Did you try to do
[code]

It's possible you need wait a digest loop before start changing the table.

[2015-12-30 02:46] Zizzamia commented on #195
Can you explain what you mean about resize columns? Change `CSS` style?
Because you can do that inside the `header` values
http://zizzamia.com/ng-tasty/directive/table/custom-sorting
check the javascript code, about the part of
[code]

[2015-12-30 02:48] Zizzamia commented on #197
Can you please give a try with version `0.6.0`

[2015-12-30 03:51] sharok commented on #197
@Zizzamia I tryed 0.6.0. The problem still exists

[2015-12-30 03:54] sharok commented on #195
No, I know this feature. I mean user resize by grabbing the column borders and drag them.
Like this one http://dobtco.github.io/jquery-resizable-columns

[2015-12-30 04:00] sharok commented on #197
This is html code:
[code]

[2015-12-30 08:21] codenamerana commented on #186
Great,
I will try it for sure :)

Thanks for the help

On Wed, Dec 30, 2015 at 8:12 AM, Leonardo Zizzamia <notifications@github.com

[2015-12-30 13:11] vidvid commented on #155
Thanks a million @Zizzamia  for your example.
After a long period of comparing and debugging, I found that the problem was due to the fact that my state didn't have any controller and used a parent controller and that made the problem of reload callback not being effective. I don't now why this prevents reload but after that change everything worked like a charm.
Thanks I guess we can close this o

[2015-12-30 13:11] #155 closed

[2015-12-30 21:41] Zizzamia commented on #195
I believe we could implement that just by pure CSS, without extra stuff on ngTasty.
This table it's meant to be really tiny and flexible, so you can implement custom version easily.

[2015-12-31 04:43] Zizzamia commented on #197
In your code you have
[code]
I think `response.TotalCount` it's `undefined` because you should do `reponse.data`,
please double check you are passing the right value inside the table.

Also, if the pagination is made by server side, you should pass the right value from server side, and not reusing the paramsObj.

[2015-12-31 04:46] Zizzamia commented on #155
:-)

[2015-12-31 04:54] sharok commented on #195
Yes, I made it by myself. But, we need JS code to implement it. The main problem here all plugins works when ```th``` tags are exists on page.  I have written custom directive:
[code]

But, I think resize is very important feature and has to be in every table. But, It's your component and you decide what is the best for it. I would implement it but  I am very beginner in JS and angular.

[2015-12-31 04:56] sharok commented on #197
No, ```response.TotalCount``` is equal 0. You can see it on screenshot above.

[2015-12-31 16:52] sali1982 opened #198 "problem - or Question with ng-tasty getResource"
Hi dear,

I have a scenario. Please help me.

My table is in a controller, but it is dependent on the other controller.  Means the first controller has a service that gets and sets an id, and second controller will use that id and loads for the ng-tasty table something else based on that id.

I need to make sure that table does not load before that id is set. I have to put maybe watcher or on.

Bu

[2015-12-31 19:25] Zizzamia commented on #195
Not sure resizable table need JS, should not be just need it CSS? I will take some time to do all the need it research.

[2015-12-31 19:27] Zizzamia commented on #197
Got it!
What about `paramsObj`, you should still get that stuff from the back-end.

[2016-01-02 01:44] Zizzamia commented on #198
Make always sure to keep the flow simple and easy to understand.
Can you show me a simple version of how you set the `HTML` of yours controller, please.

[2016-01-02 02:49] #140 closed

[2016-01-02 02:50] Zizzamia commented on #181
If there is nothing more about this issue I'm going to close it!
Thanks

[2016-01-02 02:50] #181 closed

[2016-01-02 03:33] Zizzamia commented on #181
Happy new Year ✨ just released the latest version `v0.6.1` of ngTasty

[2016-01-02 03:33] Zizzamia commented on #140
Happy new Year ✨ just released the latest version `v0.6.1` of ngTasty

[2016-01-03 12:03] aboardamit opened #199 "Override pagination variables"
Hi, as per Server side Table complete example, the expected pagination object array is:

[code]

However, my rest service returns pagination array in different format and I have no control to override the same.

[code]

How can I implement the pagination in this scenario? Is there a way to customise the pagination parameters?

[code]

[2016-01-03 20:50] aboardamit commented on #199
I have managed to resolve the issue.

[code]

[2016-01-03 20:50] #199 closed, assigned to nobody

[2016-01-04 03:42] firecentaur opened #200 "I have been using this for a few month but am going to stop using it"
Hi there,

Thanks for programming this, it has been useful, but a few things make it really difficult to use, and thus I am going to try smart-table instead.

What I don't like about this module is that in order to populate the table, you have to use bind-resource="somefunction()".

Then the"somefunction" needs to accept to magic parameters as so: var somefunction = function(params,paramsObj){}

t

[2016-01-04 06:19] sharok commented on #197
I tryed to get page from back-end. Anyway page number is  decreased by 1. I can't understand why I have additional request when result is 0. I will describe more.
1. Page is open and I have one request. Paging is working, I can change pages and all works fine.
2. I start filter and write some text. For example, letter `A`, I have request and I get filtered results.
3. I add one more letter, for ex

[2016-01-04 06:31] sharok commented on #197
I have debugged code and I think problem is here:

[code]

When I have 0 result `$scope.pagination.pages` is equal 0. Therefore, `$scope.pagination.pages` is equal 0 too.

[2016-01-04 20:28] sali1982 opened #201 "Question: Will ng-tasty be supported in Angularjs 2?"
I am thinking of preparing for the conversion to Angularjs2.

Do you know if it is going to work with 2, or you need to publish a new version to work with it?

[2016-01-06 13:04] vizog opened #202 "overriding templateHeadUrl and templateUrl in a custom theme is not working"
I'm overriding templateUrl and templateHeadUrl in my custom theme. but the table is not picking the specified templates.

app.coffee:

[code]

and the html:

[code]

other parts like itemsPerPage are working correctly but header and pagination is not loaded from my templates. Am I missing anything?

[2016-01-07 00:58] Zizzamia commented on #199
:+1:

[2016-01-07 01:00] Zizzamia commented on #200
Happy you will use a better solutions for your project :-)

What you suggest to make the table more flexible?
Thank You so much to open this discussion

[2016-01-07 01:05] Zizzamia commented on #201
Angular2 it's made it to support any kind of Angular1 library, needs ofcourse some trick to make it happen.

But to make things easily working, I will make probably in March/April ngTasty for Angular2.

[2016-01-07 01:05] #201 closed, assigned to nobody

[2016-01-07 01:20] Zizzamia commented on #202
Is it possible that path you are passing is wrong, try without `/`

[2016-01-07 15:54] radonyizsolt opened #203 "Disable Head Title Escaping"
Hey there!
Firstly let me congratulate! You made a very awesome thing here!

I am developing a site where i need to display html code in Head Titles. Is there any config where i can disable escaping?

Thanks again!

[2016-01-07 22:16] Zizzamia commented on #203
Did you try to use https://docs.angularjs.org/api/ng/service/$sce ?
I mean, something like using `$sce.parseAsHtml`;

[code]

not sure will work, let me know after giving a try please.

[2016-01-13 08:09] sharok opened #204 "Custom attributes to th tags"
Is there a way to add custom attributes to `th` tags?

[2016-01-14 10:42] chrisvel opened #205 "Show all table rows on first page load when using reloadCallback"
In your example http://zizzamia.com/ng-tasty/directive/table-server-side/reload you can reload the table when the reloadCallback is called. But when the table is initially displayed, the object isn't fetched with a GET request, but only with the reloadCallback. How can I trigger the table load on initial page display ?

[2016-01-14 15:09] pgouv commented on #205
Call search() maybe ?
Rotary

[2016-01-14 15:22] chrisvel commented on #205
`search()` isn't mandatory, I am calling `$scope.reloadCallback();` from another function. Somehow `bind-reload` overrides `bind-resource-callback` when declared in `<table>` tag.

[2016-01-14 17:49] sali1982 commented on #201
Great

[2016-01-14 20:22] Zizzamia commented on #204
Yes, you just need implement your custom template.
http://zizzamia.com/ng-tasty/directive/table/custom-sorting

[2016-01-14 20:22] #204 closed, assigned to nobody

[2016-01-14 20:28] Zizzamia commented on #205
The purpuse of the `reload` callback, it's to have the full control of when the table should be loaded.
http://zizzamia.com/ng-tasty/directive/table-server-side/reload

@chrisvel just for better understanding, your error happen only when you declare everything in the `<table>` tag?
If you do it as show in the documentation should work?

If it is the case, I have to investigate to understand what i

[2016-01-14 20:47] chrisvel commented on #205
@Zizzamia yes like your example. I don't think it's a bug, there might be a workaround. Imagine listing a table with all elements and then try to filter the main object in order to exclude some. The way it works now is that it shows nothing until a GET request is trigger when the callback is called.

[2016-01-15 08:30] chrisvel commented on #205
@Zizzamia I found a workaround but I am not sure how much safe it is.

[code]

Please advice and If you agree you could add it to the documentation.

EDIT: This works only on page load and not when moving between pages. Logically,

[code]

should be enough but it doesn't work. Any help will be greatly appreciated because I am using it in a big project right now and have been stuck for several days

[2016-01-16 07:27] sharok commented on #202
Confirm, no erros, all renders fine, but I don't see my changes in template. It looks like it takes from default

[2016-01-16 07:36] sharok commented on #204
I have tried the following template:
[code]
But I don't see my attribute

[2016-01-17 14:50] chrisvel commented on #205
FYI http://stackoverflow.com/questions/34839674/how-to-trigger-the-table-load-on-every-page-view-with-angularjs-and-ngtasty

[2016-01-18 04:35] sharok opened #206 "Custom attributes to th tags"
Related to #204

I have tried the following template for adding custom attributes:

[code]

But I don't see my `test` attribute.

[2016-01-18 13:09] piyushpatil027 commented on #205
Hi Zizzamia ,

Hope you are doing great.I am using (http://zizzamia.com/ng-tasty/directive/table-server-side/reload )  library. When the table is initially displayed, the object isn't fetched with a GET request, but only with the reloadCallback. How can I trigger the table load on initial page display ?

I am getting same problem in my code.How can this problem sovle?

[2016-01-21 22:00] sali1982 opened #207 "How to return Promise for ng-tasty"
Hi there,

I have changed my code so it does not reload some values everytime that page gets loaded as that value was already loaded in other controllers.

So, I have if condition, if the result is already there I do not post to the server, and I send back the current result.
As ng-tasty really needs Promise to return to the table, So I do return it this way:

return Promise.resolve(xxxx);

It wor

[2016-01-22 12:47] zoirs opened #208 "Why does not the reload"
(I do not speak English)
I took your example from http://zizzamia.com/ng-tasty/directive/table-server-side/reload .
It's work: http://plnkr.co/edit/jPdov9?p=preview
But if I write:
`<div ng-if="true">
<div tasty-table bind-resource-callback="getResource" bind-init="init"
bind-filters="filterBy"  bind-reload="reloadCallback" >
....`
(version number 2 in http://plnkr.co/edit/jPdov9?p=preview)
button

[2016-01-25 15:08] sharok commented on #206
I have found error. There are error in docs.
 `<thead tasty-thead
    template-url='"localTemplateThead.html"'></thead>`

We need to use double quotes.

[2016-01-27 21:44] tdharris commented on #202
I am also seeing this. The default template is loaded regardless. I am needing to change the template because I've decided to start using bootstrap 4, and there are some small breaking changes that I can work-around with custom themes. This doesn't appear to be functioning, which is unfortunate.

[2016-02-01 09:05] masoodtrb commented on #205
@piyushpatil027 +1

[2016-02-01 19:08] thevoiceofzeke opened #209 "Pagination itemsPerPage resets to initial value on refresh"
Hello,

I'm using ng-tasty with a rather heavily customized table that includes custom pagination templates. The templates work wonderfully, but I noticed that refreshing the page will always reset `itemsPerPage` to whatever its initial setting is in the angular controller. I am trying to find a solution that will allow me to capture the `itemsPerPage` value when it changes, then save it in $rootS

[2016-02-08 15:24] SargoDarya commented on #183
Any updates to this?

[2016-02-10 22:56] alfredobarron opened #210 "Translate header"
How to use angular-translate in header table in ng-tasty?

[2016-02-11 16:19] Telem opened #211 "tasty pagination memory leak"
Pages containing a tasty pagination leave a pretty big trace in jQuery's cache. I didn't dig deep enough  yet to find the fix, but on our pages with a fairly heavy table DOM it results in a ~10MB leak per page (because the DOM is retained through the Scope which is retained through the context of the cached data).

This can be reproduced with both ngTasty 0.5.8 (our local version) and 0.6.1 (http:

[2016-02-12 11:29] Telem commented on #211
Further investigation shows that this is happening only when bind-template-url is used : it seems angular loads up the template and compiles its directives, and when tastyPagination's link function replaces the element with the new template, the elements created for the original template are not properly removed (e.g. watch functions for the ng-repeat from the original template still get called).

[2016-02-12 13:41] Telem commented on #211
A limited workaround for those interested :

[code]

I would prefer not to modify the tableConfig constant, but using bind-theme would not have any effect (despite what the documentation implies).

Sorry I won't have enough time to spend in providing a backward-compatible PR. There are a fair number of options to choose from though (http://stackoverflow.com/questions/21835471/angular-js-directive-

[2016-02-16 07:40] newbro commented on #205
I am also facing this problem. Actually the default bind-resource-callback + bind-filters already serve my needs (I too wish to load up all rows in table onload, and add filtering options on UI). However I spot there are some minor issues with the way it watches filter variable (debouncing problem?) which results in inconsistent search data so I end up using bind-reload so I can limit the ajax cal

[2016-02-16 20:25] olegderecha commented on #205
Excellent, thank you!
I set **bind-theme="{loadOnInit: true}"** in markup.

[2016-02-18 04:19] dmaf87 commented on #133
Hi @Zizzamia, I have done setup server side pagination.
Thanks.

[2016-02-18 05:10] dmaf87 opened #212 "Export to csv or Excel"
Hi @Zizzamia, how to export serverside datasource to excel or csv, is there any feature?

[2016-02-18 09:55] #133 closed

[2016-02-24 01:38] newbro commented on #211
Thanks for the workaround.

[2016-03-13 13:03] stubbies commented on #202
I have the same problem, it only works when you add it as `attr`.

`<div tasty-pagination template-url="/tpl/table/pagination.html"></div>`

[2016-03-17 09:39] maslowivan commented on #210
Maybe u can do it manual right into your controller?

[2016-03-17 09:59] maslowivan commented on #212
Why you can't use something like that http://ngiriraj.com/pages/htmltable_export/demo.php ?

[2016-03-18 08:17] maslowivan opened #213 "Api for updateServerSideResource"
I had to use my own filters on my site before ng-tasty. After ng-tasty I had decide to save them. My demand is to call updateServerSideResource right from controller (on keyup event of my filter for example). Right now my solution is $scope.upd = updateServerSideResource right into library source code. And in my controller I do

[code]

This is my wish :)

[2016-03-28 23:30] alfredobarron commented on #210
I did it like that, but I want know if exist best way

[2016-03-28 23:35] alfredobarron opened #214 "Select rows"
There a way for select rows?, there a way for get selected rows?

[2016-03-30 03:11] darkmakukudo opened #215 "Reload callback not working"
Hi,

The list is not updating when I trigger reload callback function after modal close.

[code]

The alert was executed when i call the reloadCallback function but the list is not updated
By the way im using "controller as" syntax.

[2016-03-30 07:56] darkmakukudo commented on #155
@Zizzamia I can still replicate the issue using ngTasty v0.6.1

[2016-03-31 02:06] darkmakukudo commented on #215
I also tried to remove first the modal implementation so i will stay on the same controller, but reloadCallback still not working

[2016-04-01 16:13] sasidublin opened #216 "dynamic columns from server"
Hi,
  I get table header and rows from server. this is dynamic and have no idea how many columns to expect.
In that case, how do i use tastytable to print the data rows.

In this example,
http://zizzamia.com/ng-tasty/directive/table-server-side/simple

if i dont know the keys name, start & 'sf-location', how do i code the markup.
<tbody>
      <tr ng-repeat="row in rows">
        <td>{{ row.name }

[2016-04-07 21:29] dmaf87 commented on #212
thanks @studentIvan. I need the CSV export to be able to export all the data within the table, not just the current page on serverside datasource. is it possible?

[2016-04-21 14:07] HesyRa commented on #205
Ty, also worked for me!! gj

[2016-05-09 17:14] jvyang commented on #214
Assuming that the requirement is simple, I could probably do something like this:

**Markup**

[code]

**Controller**

[code]

[2016-05-09 17:31] alfredobarron commented on #214
Ok thanks, I thought it has some easier-automatic way to do it.

[2016-05-09 17:31] #214 closed, assigned to nobody

[2016-05-10 17:32] Zizzamia commented on #206
@sharok do you wanna ask a PR for fix that?

[2016-05-10 17:38] Zizzamia commented on #205
Sorry guys, had very intense 6 months with Plan (https://getplan.co), spending most of my time with Angular 2 recently.

Here guys the documentation about `bind-theme` http://zizzamia.com/ng-tasty/directive/table/custom-theme, you can override several default property.

Also @newbro, what name you suggest? Open to any suggestion :)

[2016-06-05 16:59] anikeevda commented on #202
As far as I can find that happens because each directive (tasty-thead, tasty-table, tasty-pagination) has personal theme.

My lazy solution was using an ng-template in script and then bind it through bind-template-url.

[2016-06-24 22:59] p1lare commented on #120
I have a question concerning this.@Zizzamia @samartioli how to access visible collection in controller?
In HTML I can get {{rows}} which will show only the visible table rows, but I cannot get them in controller, I'm able only to grab full resource.rows.
I need to select ids of all the visible rows, but I cannot get them.

[2016-06-29 16:53] Amit1150 opened #217 "Pagination is not working after applying filter"
I was using this plugin for my project. But It has a bug. Pagination stop working after applying filter on server side pagination example. It can be found on demo page as well.

[ng-Tasty server side reload](http://zizzamia.com/ng-tasty/directive/table-server-side/reload)
- Open this link. click on search button.
- Go to second page, then user filter by keyword 'r'.  It will return 20 items. Now I

[2016-06-30 06:38] ShayalJindal commented on #180
Hello .. Please help me .. I am facing an issue with ng-Tasty..
The table is not reloading after deleting an entry if I don't use reloadCallBack approach. And if I use reloadCallBack approach, pagination after filter doesn't work. I want reload table after delete with pagination working after filtering too.

[2016-06-30 06:43] ShayalJindal opened #218 "Pagination after filter doesnot work with reload call back"
Hello .. Please help me .. I am facing an issue with ng-Tasty..
The table is not reloading after deleting an entry if I don't use reloadCallBack approach. And if I use reloadCallBack approach, pagination after filter doesn't work. I want reload table after delete with pagination working after filtering too.

[2016-07-21 15:23] WestDiscGolf opened #219 "Server side refresh not working when using Post"
Hi,

We are using the ng-tasty table with the server side data option. The getResource functionality works fine with pagination and sorting etc. until I add ...

... to allow to force a reload of the data (after I delete a record) and then it stops rendering any data at all!

The server side end point is expecting a Http POST to get the data with the table required parameters in the payload from t

[2016-07-27 06:20] shahjabeen-elevate opened #220 "Can we use multiple ng-tasty tables on a single page?"

[2016-08-01 20:19] Disane87 opened #221 "Headercolumn translation within data-title"
Currently I'm using ngTasty to get a proper table (server side) of my data. Now I need to translate the header columns for mobile devices. For the reponsive part, I use angular-responsive [click](https://github.com/awerlang/angular-responsive-tables)

The translation within the "normal" header cols works:

[code]

Nothing works, to get the translated column names for smaler devices, i.e.:

[code]

[2016-08-19 13:22] Disane87 commented on #181
I have the same issue and studied your doc about this topic. If I set the attrib bind-reload="getResource" the entire table is not rendered:
![image](https://cloud.githubusercontent.com/assets/956158/17810992/aab3fc36-6620-11e6-8ba2-1ed90b7364d5.png)

If I remove the attribs, it woks pretty fine.

My table:

[code]

My controller:

[code]

[2016-08-19 13:23] Disane87 opened #223 "Table reload callback not working"
according to issue #181:

I have the same issue and studied your doc about this topic. If I set the attrib bind-reload="getResource" the entire table is not rendered:
![image](https://cloud.githubusercontent.com/assets/956158/17810992/aab3fc36-6620-11e6-8ba2-1ed90b7364d5.png)

If I remove the attribs, it woks pretty fine.

My table:

[code]

My controller:

[code]

[2016-08-19 13:46] Disane87 commented on #215
Is your callback firering? If I add the atrribute bind-reload="reloadCallback" to my table, the entire table will not be rendered:

![image](https://cloud.githubusercontent.com/assets/956158/17811669/0b5c9b12-6624-11e6-8fa2-5f98587c14cd.png)

or did you have a solution?

[2016-08-19 13:59] Disane87 commented on #221
It's an issue of the angular-responsive module. Sorry for bothering you!

[2016-08-19 13:59] #221 closed, assigned to nobody

[2016-08-20 01:43] seminull commented on #209
I would try solving this problem with local/session storage.  There's a few angular modules that make it pretty easy out there.

[ngStorage](https://github.com/gsklee/ngStorage)
[angular-local-storage](https://github.com/grevory/angular-local-storage)

[2016-08-20 16:28] seminull commented on #189
@Zizzamia did you want to trade in your gulpfile for webpack?

[2016-08-24 06:01] Disane87 commented on #219
Same here. Did you manage do get it working?

[2016-08-24 08:02] WestDiscGolf commented on #219
The work around I did in the end was to add a new watch to a property on tasty table, when the property changed it triggered the server side code to execute the fetch.

So I made the following changes:

1) add 'bindRefresh' to listScopeToWatch

2) remove the build url call as no point from if (vm.start) code ....

[code]

3) In 'updateServerSideResource' underneath if ((initNow || updateFrom == 'p

[2016-08-24 08:04] Disane87 commented on #219
I'll gonna check this out, thank you!

[2016-08-24 08:22] Disane87 commented on #219
Thanks! could you send me your edited file? I really struggle with the implementation or could you answer me following questions, according your approach?

1) add 'bindRefresh' to listScopeToWatch
4) Add new item to the watchcollection ...
**Do I have to do this in the tastyTable.js or in my code?**

[2016-08-24 08:27] WestDiscGolf commented on #219
I made the changes in the ng-tasty-tpls.js file

[2016-08-24 09:27] Disane87 commented on #219
Thank you! It works!
But I need to reload the table on an event of another scope. In example:
I add values to that data, which are shown in the tasty table.

My controller of the tastyTable looks like this:
[code]

I fire the event out of a directive:
[code]

But the event isn't catched by the listener in the controller. How do I do this? Any clue?

[2016-08-24 10:09] Disane87 commented on #223
Mentioned in #219, so this is closed, sorry!

[2016-08-24 10:09] #223 closed, assigned to nobody

[2016-08-24 11:42] Disane87 commented on #219
It works, thanks you! :)

[2016-09-01 19:38] Disane87 commented on #221
Thanks for the fix. Unfortunatly it will work without tastyTable, not in combination. I've prepared a plunker to demonstrate my approach: http://plnkr.co/edit/VO4XwXfn4zZxJuIkYPlD

[2016-10-03 16:37] Disane87 commented on #54
Any updates?

[2016-10-13 13:02] ghost commented on #217
Unfortunately I'm dealing with the same problem. It would be interesting to know, if anyone has found a solution or workaround in the meantime. (Seems that #218 is a duplicate of this issue.)

[2016-11-02 17:57] senzacionale opened #226 "http://zizzamia.com/ng-tasty/ page is down"
http://zizzamia.com/ng-tasty/ page is down

can you fix it?

[2016-11-04 09:34] katsos opened #227 "Can we create ng-tasty docs under github pages?"
As [doc-server](http://zizzamia.com/ng-tasty/) is currently down with error 502.
We could create a gh-pages branch to store there the documentation of ng-tasty as an alternative.

[2016-11-05 13:30] katsos commented on #226
@senzacionale it's back!

[2016-11-07 14:28] DanielSantiagoDev opened #228 "Custom config object for custom table header.html"
Hi, this is my first issue in github, so:

I downloaded the project and needed to show or hide some columns based on external config:

I can hide the row values simply by using <td ng-if="boolean">, but I can hide the header.So, I guess I needed a custom header.html, I made it, but I cant pass custom values in order to hide the header value. So I modified the table code to pass a "config" object,

[2016-11-08 23:45] alfredobarron commented on #120
I have same question

[2016-11-09 14:49] gvlekke commented on #156
@InsidersByte

In the gulp file on line 209 you can see that the author is writing the modules with gulp

[2016-11-10 13:31] katsos commented on #227
@Zizzamia doc-server is down once again.

[2016-11-16 15:23] wandroll commented on #210
I'd use a custom template for the header :
`<thead tasty-thead template-url="app/templates/custom-thead.tpl.html"></thead>`

Assuming you're using [angular-translate ](https://github.com/angular-translate/angular-translate) :
Your template should look like [the default template](https://github.com/Zizzamia/ng-tasty/blob/master/template/table/head.html) but you'll have to replace ng-bind with trans

[2016-11-24 04:00] ukbehera opened #230 "Reloading Table with a button without using bind-filter"
I am using ng-tasty in my project.I have a button, onclick of which fresh data will come and table should reload.In this requirement there is nothing to do with bind-filter.But I am unable to achieve it.

Please have a look at this <a href="https://plnkr.co/edit/3c9kP2oUVPqwqAq7eepF?p=preview">Plunker</a>.

Could anyone please help me.

[2016-12-06 10:59] ghost opened #231 "Bug number"
Hello I  noticed a small problem, I use the super module in my professional project. Everything works for words but for numbers, there is a small problem. for example :
this numbers :
100, 80 , 101, 91, 95
In order : 100, 1001 , 80, 91 ,95

I would like this : 80, 91, 95, 100, 101 Do you have a solution please ?

thanks !

[2016-12-14 18:31] p1lare commented on #120
@alfredobarron I haven't found better solution, so I've wrote function that is called from html file passing {{rows}} to be enumarated. I needed just all the IDs.

` <div ng-if="visibleRows(rows)"></div>`

` $scope.visibleRows = function(rows) {
      $scope.displayedRows=[];
      angular.forEach(sigs, function(sig) {
          $scope.displayedRows.push(row.id);
      })
    return false;
    } `

[2016-12-14 18:44] p1lare commented on #94
I cannot get the functionality in ngTasty to use field specific filters with general search in the same time, as presented in angular documentation.

[https://docs.angularjs.org/api/ng/filter/filter](url)

[code]

With ngTasty I can only submit one filter which will work as general one when I will pass string, and field specific when I will pass an object with those fields names as above.

[2016-12-21 20:27] p1lare opened #232 ".success problem with angular 1.6.0"
Since angular 1.5 $http's deprecated custom callback methods - success() and error() - have been removed in angular 1.6. ngTasty needs some changes.
https://docs.angularjs.org/guide/migration#migrate1.5to1.6-ng-services-$http

ng-tasty-tpls.js from 559 and 739 this code needs to be changed:
[code]
to this:
[code]

This maybe needs some confirmation, seems to work for me just fine. If the project i

[2016-12-31 10:56] Zizzamia commented on #227
Sounds awesome, looks like we could set up a `/docs` folder for github pages.
![screen shot 2016-12-31 at 2 53 45 am](https://cloud.githubusercontent.com/assets/829214/21577121/6a76b7c4-cf04-11e6-8759-9855c4cf4e88.png)
After an year coding only on Angular (v2) I will start spending a bit of time to AngularJS every week.
Any help to set up a copy of the documentation will be great.

[2016-12-31 10:56] #226 closed, assigned to nobody

[2016-12-31 11:07] katsos commented on #227
@Zizzamia cool. set milestones at project tab of the project. I'm willing to help.

[2017-01-03 22:05] kempelen opened #234 "Table reload and pagination issue"
Please reproduce this bug on the demo site:
http://zizzamia.com/ng-tasty/directive/table-server-side/reload

1. Press "Search" button
2. Type a letter into "Filters by name" input, eg. "s", then press "Search".
3. Paginate to page 2
4. Delete character from "Filters by name", then press "Search"
Then pagination not working anymore...

I do not know what cause this problem, but this is an annoying

[2017-01-04 23:38] alfredobarron commented on #120
thanks @p1lare

[2017-01-18 19:11] fdenzer commented on #232
+1
same issue here: Angular 1.6.1 and some templateUrl-calls fail due to success
being deprecated in 1.6.x

[2017-02-02 10:57] kojo-caesar commented on #234
Hello,

Did you find a solution for this?

In table.js, I removed the condition `if (!filterChangedPage)` at line 411 and let the `updateServerSideResource()` function be called. It seems to be working.

[2017-02-02 15:51] pjuvigny commented on #54
Any updates?

[2017-02-04 16:45] samkadam commented on #135
hello i want to add checkbox to select all rows in table .

[2017-02-09 09:23] ghost commented on #215
i also have this issue anyone found solution on this ? please help

[2017-02-14 19:33] dv9 commented on #215
hi, i have the same problem....

[2017-02-28 16:08] ghost opened #236 "ng transclude tbody"
Hello.
 I would to know how I can to transclude the tbody or the table please, because when I want to transclude, just the head t-head tasty working, the tbody with row in rows not working. Do you have a solution please ?

thanks !

[2017-03-03 10:00] Disane87 opened #237 "Using TastyTable in a directive to use it generic doen't work"
I've created a directive for TastyTable because I want to encapsulate code I've written more than once.
But if I want to use that directive, TastyTable doesn't got rendered:

But the markup of the template is there:
![image](https://cloud.githubusercontent.com/assets/956158/23546560/6e51f34a-0000-11e7-8a94-c165b11900f7.png)

How can I fix this?

![image](https://cloud.githubusercontent.com/assets/

[2017-03-14 10:31] Disane87 commented on #237
Just found the issue. It was a fail of me. I forgot to lazy load the ngTasty-JS in my route... sorry for bothering!

[2017-03-14 10:31] #237 closed, assigned to nobody

[2017-04-03 06:17] alfredobarron opened #238 "hide pagination in mode responsive"
With bootstrap  `.hidden-sm` Maybe what do you Think?

[
![screen shot 2017 04 03 at 00 59 10](https://cloud.githubusercontent.com/assets/2327016/24597356/f1854830-180a-11e7-92c0-3730d3f5e791.png)
](url)

[2017-04-12 18:30] ghost opened #239 "fill table $resource"
Hello, I would l like to know how I can to fill the table rows with my method $resource.

I made this :

 xxService.GetAll().then(function(resp){
$ctrl.resource.rows = resp;
});

In my console $ctrl.resource.rows is full but in the front the content is empty. I must to click on the header to display the content why ?

sincerly

[2017-04-13 09:12] pierred69 opened #240 "Documentation off ?"
Hello,

The website hosting the documentation seems to be not accessible anymore... 502 Gateway error on loading pages...

Sadly I have to update an older project made with Angular 1 including ng-tasty.

Is it possible to have a look, or a link to another documentation hosting ?

I need to know how to set default column sort (for example sort by default by "names").

Thanks.

[2017-04-18 07:30] RonnyLV commented on #240
As far as I can see, then the docs are included in this repository. Simply clone this project and do the trick described in the README.md in https://github.com/Zizzamia/ng-tasty/tree/master/website

[2017-04-18 08:05] RonnyLV commented on #240
The Readme file only lacks one thing, you need to have a prebuilt ng-tasty module in website/../dist folder.
Build the cloned version or either way download from NPM/Bower and put it into \<root\>/dist folder

[2017-05-09 15:31] ghost opened #241 "button custom pagination"
Hello,
How make a button with ng click in custom pagination please ? I'm blocked on this problem. iI created a button but the ng click not working

best regard !

[2017-05-18 15:55] thoughtgap opened #242 "Live Demo offline"
I get a 502 – Bad Gateway on http://zizzamia.com/ng-tasty/

[2018-03-18 12:16] #241 closed, assigned to nobody

[2018-03-18 12:17] #239 closed, assigned to nobody